### Pulling Neighborhood stats on Population and SQ area
http://www.city-data.com/nbmaps/neigh-San-Francisco-California.html

In [3]:
from scrapy.selector import Selector
import newspaper

In [4]:
b = "a"
b.isupper

In [5]:
from bs4 import BeautifulSoup
import requests

#### Pull data from city-data

In [6]:
resp = requests.get('http://www.city-data.com/nbmaps/neigh-San-Francisco-California.html')

#### Beautiful Soup teh data

In [7]:
soup = BeautifulSoup(resp.content,'html.parser')

In [9]:
neighboorhoods = Selector(text=resp.content).xpath("//div[@class='neighborhood']").extract()

#### String Clean up

In [10]:
replace = {"Alamo Square":"alamosquare"
,"Anza Vista":"anzavista"
,"Aquatic Park":"aquaticpark"
,"Baja Noe":"bajanoe"
,"Balboa Park":"balboapark"
,"Balboa Terrace":"balboaterrace"
,"Bayview District":"bayviewdistrict"
,"Bayview Heights":"bayviewheights"
,"Bernal Heights":"bernalheights"
,"Bernal Heights North":"bernalheightsnorth"
,"Bernal Heights Park":"bernalheightspark"
,"Bernal Heights South":"bernalheightssouth"
,"Buena Vista Park":"buenavistapark"
,"Castro":"castro"
,"Cathedral Hill":"cathedralhill"
,"Cayuga Terrace":"cayugaterrace"
,"Central Richmond":"centralrichmond"
,"Central Sunset":"centralsunset"
,"Chinatown":"chinatown"
,"Civic Center":"civiccenter"
,"Clarendon Heights":"clarendonheights"
,"Cole Valley":"colevalley"
,"Corona Heights":"coronaheights"
,"Cow Hollow":"cowhollow"
,"Crocker-Amazon":"crocker-amazon"
,"Deco Ghetto":"decoghetto"
,"Diamond Heights":"diamondheights"
,"Dogpatch":"dogpatch"
,"Downtown":"downtown"
,"Duboce Triangle":"dubocetriangle"
,"Embarcadero":"embarcadero"
,"Excelsior":"excelsior"
,"Financial District":"financialdistrict"
,"Financial District South":"financialdistrictsouth"
,"Fisherman's Wharf":"fisherman'swharf"
,"Forest Hill":"foresthill"
,"Forest Knolls":"forestknolls"
,"Fort Mason":"fortmason"
,"French Quarter":"frenchquarter"
,"Ghirardelli Square":"ghirardellisquare"
,"Glen Park":"glenpark"
,"Golden Gate Heights":"goldengateheights"
,"Golden Gate Park":"goldengatepark"
,"Haight-Ashbury":"haight-ashbury"
,"Hayes Valley":"hayesvalley"
,"Holly Park":"hollypark"
,"Hunters Point":"hunterspoint"
,"India Basin":"indiabasin"
,"Ingleside":"ingleside"
,"Ingleside Heights":"inglesideheights"
,"Ingleside Terrace":"inglesideterrace"
,"Inner Parkside":"innerparkside"
,"Inner Richmond":"innerrichmond"
,"Inner Sunset":"innersunset"
,"Inner Sunset":"innersunset"
,"Inset":"inset"
,"Intermission":"intermission"
,"Jackson Square":"jacksonsquare"
,"Japantown":"japantown"
,"Laguna Honda":"lagunahonda"
,"Lake":"lake"
,"Lake Shore":"lakeshore"
,"Lakeside":"lakeside"
,"Laurel Heights":"laurelheights"
,"Laurel Village":"laurelvillage"
,"Little Hollywood":"littlehollywood"
,"Little Russia":"littlerussia"
,"Little Saigon":"littlesaigon"
,"Lone Mountain":"lonemountain"
,"Lower Haight":"lowerhaight"
,"Lower Nob Hill":"lowernobhill"
,"Lower Pacific Heights":"lowerpacificheights"
,"Marina District":"marinadistrict"
,"Mastro":"mastro"
,"Merced Heights":"mercedheights"
,"Merced Manor":"mercedmanor"
,"Midtown Terrace":"midtownterrace"
,"Mint Hill":"minthill"
,"Miraloma Park":"miralomapark"
,"Mission Bay":"missionbay"
,"Mission District":"missiondistrict"
,"Mission Dolores":"missiondolores"
,"Mission Terrace":"missionterrace"
,"Monterey Heights":"montereyheights"
,"Mount Davidson Manor":"mountdavidsonmanor"
,"NOMA":"noma"
,"Nob Hill":"nobhill"
,"Noe Valley":"noevalley"
,"North Beach":"northbeach"
,"North Panhandle":"northpanhandle"
,"North Waterfront":"northwaterfront"
,"Oceanview":"oceanview"
,"Outer Mission":"outermission"
,"Outer Parkside":"outerparkside"
,"Outer Richmond":"outerrichmond"
,"Outer Sunset":"outersunset"
,"Outset":"outset"
,"Pacific Heights":"pacificheights"
,"Park Merced":"parkmerced"
,"Parkside":"parkside"
,"Parnassus":"parnassus"
,"Pier 39":"pier39"
,"Pine Lake Park":"pinelakepark"
,"Polk Gulch":"polkgulch"
,"Portola":"portola"
,"Potrero Flats":"potreroflats"
,"Potrero Hill":"potrerohill"
,"Presidio":"presidio"
,"Presidio Heights":"presidioheights"
,"Presidio Terrace":"presidioterrace"
,"Richmond District":"richmonddistrict"
,"Rincon Hill":"rinconhill"
,"Russian Hill":"russianhill"
,"SOMISSPO":"somisspo"
,"Saint Francis Wood":"saintfranciswood"
,"Sea Cliff":"seacliff"
,"Sherwood Forest":"sherwoodforest"
,"Showplace Square":"showplacesquare"
,"Silver Terrace":"silverterrace"
,"South Basin":"southbasin"
,"South Beach":"southbeach"
,"South Of Market":"southofmarket"
,"South Park":"southpark"
,"St Marys Square":"stmaryssquare"
,"Stonestown":"stonestown"
,"Sunnydale":"sunnydale"
,"Sunnyside":"sunnyside"
,"Sunset District":"sunsetdistrict"
,"Sutro Heights":"sutroheights"
,"Telegraph Hill":"telegraphhill"
,"Tenderloin":"tenderloin"
,"The Hub":"thehub"
,"Transmission":"transmission"
,"Treasure Island":"treasureisland"
,"Twin Peaks":"twinpeaks"
,"Twin Peaks West":"twinpeakswest"
,"Union Square":"unionsquare"
,"Upper Market":"uppermarket"
,"Van Ness":"vanness"
,"Visitacion Valley":"visitacionvalley"
,"West Portal":"westportal"
,"West of Twin Peaks":"westoftwinpeaks"
,"Western Addition":"westernaddition"
,"Westwood Highlands":"westwoodhighlands"
,"Westwood Park":"westwoodpark"
,"Yerba Buena Island":"yerbabuenaisland"
,"Zion District":"ziondistrict"
,"Mission Deluxe" :"missiondeluxe"
,"bernalheights North": "bernalheights_n"
,"bernalheights Park": "bernalheights_p"
,"bernalheights South": "bernalheights_s"
,"Eureka Valley": "eurekavalley"
,"FiDi": "fidi"
}

#### Get Only text from the HTML (no tags)

In [11]:
text_only = []
for neigh in neighboorhoods:
    soup = BeautifulSoup(neigh,'html.parser')
    text_only.append(soup.get_text())

In [12]:
text_only[0]

"Alamo Square neighborhood in San Francisco statistics: (Find on map)\nArea: 0.144 square milesPopulation: 5,903Population density:Alamo Square:41,104 people per square mileSan Francisco:18,651 people per square mileMedian household income in 2016: Alamo Square:$119,678San Francisco:$103,801Median rent in in 2016: Alamo Square:$1,769San Francisco:$1,731Male vs FemalesMales:3,431Females:2,471Median ageMales:35.7 yearsFemales:38.8 yearsHousing prices:Average estimated value of detached houses in 2016 (4.5% of all units):Alamo Square:$2,122,937San Francisco:$1,418,931Average estimated value of townhouses or other attached units in 2016 (2.6% of all units):This neighborhood:$1,041,250city:$1,130,973Average estimated value of housing units in 2-unit structures in 2016 (12.3% of all units):This neighborhood:$1,215,016San Francisco:$1,365,931Average estimated '16 value of housing units in 3-to-4-unit structures (26.1% of all units):Alamo Square:$916,341city:$1,328,617Average estimated '16 value of housing units in 5-or-more-unit structures (1.5% of all units):Alamo Square:$707,111San Francisco:$1,070,488Most popular occupations of males: management occupations (except farmers) (17.1%); business and financial operations occupations (15.8%); sales and office occupations (14.4%); computer and mathematical occupations (13.3%); service occupations (12.9%); arts, design, entertainment, sports, and media occupations (6.4%); legal occupations (5.3%)Most popular occupations of females: management occupations (except farmers) (19.0%); sales and office occupations (18.8%); business and financial operations occupations (14.3%); service occupations (9.2%); arts, design, entertainment, sports, and media occupations (8.5%); legal occupations (7.8%); computer and mathematical occupations (5.9%)Roads and streets: Hayes St; McAllister St; Fulton St; Fell St; Oak St; Steiner St; Scott St; Grove St; Divisadero St; Pierce St; Fillmore St.\nAlamo Square neighborhood detailed profile\n"

#### Look for these specific metrics to text parse

In [13]:
metrics = ['Area','Population density','Median age', 'Housing prices', 'Population','Median household income', 'Median rent','Males:', 'Females:','Average estimated', 'Most popular']

In [14]:
clean_text_only = []

for tx in text_only:
    for m in metrics:
        tx = tx.replace(m,'\n-'+m)
    for k,v in replace.items():
        tx = tx.replace(k,v)
    clean_text_only.append(tx)

In [15]:
print(clean_text_only[0])

alamosquare neighborhood in San Francisco statistics: (Find on map)

-Area: 0.144 square miles
-Population: 5,903
-
-Population density:alamosquare:41,104 people per square mileSan Francisco:18,651 people per square mile
-Median household income in 2016: alamosquare:$119,678San Francisco:$103,801
-Median rent in in 2016: alamosquare:$1,769San Francisco:$1,731Male vs Females
-Males:3,431
-Females:2,471
-Median age
-Males:35.7 years
-Females:38.8 years
-Housing prices:
-Average estimated value of detached houses in 2016 (4.5% of all units):alamosquare:$2,122,937San Francisco:$1,418,931
-Average estimated value of townhouses or other attached units in 2016 (2.6% of all units):This neighborhood:$1,041,250city:$1,130,973
-Average estimated value of housing units in 2-unit structures in 2016 (12.3% of all units):This neighborhood:$1,215,016San Francisco:$1,365,931
-Average estimated '16 value of housing units in 3-to-4-unit structures (26.1% of all units):alamosquare:$916,341city:$1,328,617
-Average estimated '16 value of housing units in 5-or-more-unit structures (1.5% of all units):alamosquare:$707,111San Francisco:$1,070,488
-Most popular occupations of males: management occupations (except farmers) (17.1%); business and financial operations occupations (15.8%); sales and office occupations (14.4%); computer and mathematical occupations (13.3%); service occupations (12.9%); arts, design, entertainment, sports, and media occupations (6.4%); legal occupations (5.3%)
-Most popular occupations of females: management occupations (except farmers) (19.0%); sales and office occupations (18.8%); business and financial operations occupations (14.3%); service occupations (9.2%); arts, design, entertainment, sports, and media occupations (8.5%); legal occupations (7.8%); computer and mathematical occupations (5.9%)Roads and streets: Hayes St; McAllister St; Fulton St; Fell St; Oak St; Steiner St; Scott St; Grove St; Divisadero St; Pierce St; Fillmore St.
alamosquare neighborhood detailed profile

#### Pull stats from data

In [16]:
city_stats = []
for i, section in enumerate(clean_text_only):
    output = {}
    lines = section.split('\n')
    output['neighborhood'] = lines[0].split(' ')[0]
    output['_id'] = i
    for line in lines:        
        if 'Area:' in line:
            output['area'] = line.split(':')[1].strip() 
        if 'Population:' in line:
            output['pop'] = line.split(':')[1].strip()
        if 'people per square miles' in line:
            output['ppl_density'] = line.split(':')[2].split(' ')[0]
            if output['ppl_density'] == '18,651':
                output['ppl_density'] = line.split(':')[1].split(' ')[0]
        if ('Males:' in line) and ('years' in line):
            output['med_age'] = line.split(':')[1].strip()
        if ('Females:' in line) and ('years' in line):
            output['med_age'] = line.split(':')[1].strip()            
        if ('Males:' in line):
            output['m_pop'] = line.split(':')[1].strip()
        if 'Females:' in line:
            output['f_pop'] = line.split(':')[1].strip()
        if 'Average estimated value of detached houses in 2016' in line:
            output['house_pct'] = line.split('(')[1].split('%')[0]
            output['house_avg_value'] = line.split(':')[2].split('San')[0]
        if 'Average estimated value of townhouses' in line:
            output['twn_pct'] = line.split('(')[1].split('%')[0]
            output['twn_avg_value'] = line.split(':')[2].split('San')[0]
        if 'Average estimated value of housing units in 2-unit structures' in line:
            output['apt2_pct'] = line.split('(')[1].split('%')[0]
            output['apt2_avg_value'] = line.split(':')[2].split('San')[0]
        if "Average estimated '16 value of housing units in 3-to-4-unit structures" in line:
            output['apt4_pct'] = line.split('(')[1].split('%')[0]
            output['apt4_avg_value'] = line.split(':')[2].split('San')[0]
               
    city_stats.append(output)

In [19]:
print(clean_text_only[4])

balboapark neighborhood in San Francisco statistics: (Find on map)

-Area: 0.048 square miles
-Population: 718
-
-Population density:balboapark:14,932 people per square mileSan Francisco:18,651 people per square mile
-Median household income in 2016: balboapark:$80,849San Francisco:$103,801
-Median rent in in 2016: balboapark:$1,446San Francisco:$1,731Male vs Females
-Males:402
-Females:316
-Median age
-Males:38.2 years
-Females:46.0 years
-Most popular occupations of males: management occupations (except farmers) (14.7%); sales and office occupations (14.6%); transportation occupations (11.8%); material moving occupations (10.0%); construction, extraction, and maintenance occupations (9.2%); business and financial operations occupations (5.6%); computer and mathematical occupations (4.2%)
-Most popular occupations of females: sales and office occupations (28.1%); service occupations (26.1%); healthcare practitioners and technical occupations (14.9%); education, training, and library occupations (8.0%); management occupations (except farmers) (4.8%); business and financial operations occupations (4.5%); production occupations (4.4%)Roads and streets: San Jose Ave; Sergeant John V Young St; Sgt John V Young Ln; Arco Way.
balboapark neighborhood detailed profile

### Save to a DataFrame

In [52]:
import pandas as pd
import numpy as np

def clean_dollars(x):
    if type(x) != float:
        return x.replace('$','').replace(',','').replace('city','')

def clean_age(x):
    if type(x) != float:
        return x.replace('years','')

cs = pd.DataFrame(city_stats)
cs['twn_avg_value'] = cs['twn_avg_value'].map(clean_dollars)
cs['apt2_avg_value'] = cs['apt2_avg_value'].map(clean_dollars)
cs['apt4_avg_value'] = cs['apt4_avg_value'].map(clean_dollars)
cs['area'] = cs['area'].str.replace('square miles','')
cs['area'] = cs['area'].map(lambda x : x.split(' ')[0])
cs['house_avg_value'] = cs['house_avg_value'].map(clean_dollars)
cs['f_pop'] = cs['f_pop'].map(clean_age)
cs['m_pop'] = cs['m_pop'].map(clean_age)
cs['med_age'] = cs['med_age'].map(clean_age)
cs['pop'] = cs['pop'].map(clean_dollars)
num_cols = [col for col in cs.columns if col != 'neighborhood'] 
for col in num_cols:
    print(col)
    cs[col] = cs[col].astype(float)
cs.head()

_id
apt2_avg_value
apt2_pct
apt4_avg_value
apt4_pct
area
f_pop
house_avg_value
house_pct
m_pop
med_age
pop
twn_avg_value
twn_pct

,_id,apt2_avg_value,apt2_pct,apt4_avg_value,apt4_pct,area,f_pop,house_avg_value,house_pct,m_pop,med_age,neighborhood,pop,twn_avg_value,twn_pct
0,0.0,1215016.0,12.3,916341.0,26.1,0.144,38.8,2122937.0,4.5,35.7,38.8,alamosquare,5903.0,1041250.0,2.6
1,1.0,581625.0,19.1,205001.0,21.9,0.124,37.2,815179.0,6.8,39.5,37.2,anzavista,2073.0,550718.0,9.3
2,2.0,160352.0,4.1,513848.0,33.3,0.037,48.2,1780721.0,10.8,44.1,48.2,aquaticpark,293.0,1819226.0,2.1
3,3.0,6123081.0,15.1,1033189.0,22.2,0.055,37.3,1421754.0,10.6,36.8,37.3,bajanoe,2228.0,413668.0,13.7
4,4.0,NaN,NaN,NaN,NaN,0.048,46.0,NaN,NaN,38.2,46.0,balboapark,718.0,NaN,NaN

In [53]:
cs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 147 entries, 0 to 146
Data columns (total 15 columns):
_id                147 non-null float64
apt2_avg_value     84 non-null float64
apt2_pct           84 non-null float64
apt4_avg_value     72 non-null float64
apt4_pct           72 non-null float64
area               147 non-null float64
f_pop              144 non-null float64
house_avg_value    119 non-null float64
house_pct          119 non-null float64
m_pop              144 non-null float64
med_age            144 non-null float64
neighborhood       147 non-null object
pop                144 non-null float64
twn_avg_value      114 non-null float64
twn_pct            114 non-null float64
dtypes: float64(14), object(1)
memory usage: 17.3+ KB

In [54]:
cs.to_csv('../ref_data/nh_city_stats.txt', sep='|')

#### Sample of the Data

,_id,apt2_avg_value,apt2_pct,apt4_avg_value,apt4_pct,area,f_pop,house_avg_value,house_pct,m_pop,med_age,neighborhood,pop,twn_avg_value,twn_pct
0,0,"$1,215,016",12.3,"$916,341city",26.1,0.144 square miles,38.8 years,"$2,122,937",4.5,35.7 years,38.8 years,alamosquare,"5,903","$1,041,250",2.6
1,1,"$581,625",19.1,"$205,001city",21.9,0.124 square miles,37.2 years,"$815,179",6.8,39.5 years,37.2 years,anzavista,"2,073","$550,718",9.3
2,2,"$160,352",4.1,"$513,848city",33.3,0.037 square miles,48.2 years,"$1,780,721",10.8,44.1 years,48.2 years,aquaticpark,293,"$1,819,226",2.1
3,3,"$6,123,081",15.1,"$1,033,189city",22.2,0.055 square miles,37.3 years,"$1,421,754",10.6,36.8 years,37.3 years,bajanoe,"2,228","$413,668",13.7
4,4,NaN,NaN,NaN,NaN,0.048 square miles,46.0 years,NaN,NaN,38.2 years,46.0 years,balboapark,718,NaN,NaN
5,5,NaN,NaN,NaN,NaN,0.092 square miles,50.4 years,"$1,290,871",91.2,48.3 years,50.4 years,balboaterrace,839,NaN,NaN
6,6,"$4,077,388",10.7,"$378,815city",9.2,2.057 square miles,38.2 years,"$565,488",49.0,36.0 years,38.2 years,bayviewdistrict,"26,138","$592,648",17.4
7,7,NaN,NaN,NaN,NaN,0.639 square miles,38.0 years,"$547,342",31.4,36.5 years,38.0 years,bayviewheights,"3,813","$579,512",17.5
8,8,"$879,465",15.7,"$402,461city",12.6,1.049 square miles,38.4 years,"$972,996",44.9,39.2 years,38.4 years,bernalheights,"25,825","$1,048,521",18.5
9,9,"$974,221",19.7,"$937,500city",12.6,0.374 square miles,38.5 years,"$1,066,532",43.6,38.2 years,38.5 years,bernalheights_n,"9,021","$1,497,103",14.4
10,10,"$931,944",14.5,NaN,NaN,0.032 square miles,39.3 years,"$1,164,478",57.4,39.8 years,39.3 years,bernalheights_p,506,"$754,327",18.4
11,11,"$821,154",12.9,"$529,360city",12.4,0.669 square miles,38.5 years,"$872,706",45.9,39.6 years,38.5 years,bernalheights_s,"16,652","$768,672",21.2
12,12,"$1,508,360",14.5,"$2,558,412city",29.6,0.138 square miles,36.3 years,"$2,142,111",12.2,43.3 years,36.3 years,buenavistapark,"2,407","$568,253",16.1
13,13,"$1,190,375",17.8,"$844,083city",23.0,0.526 square miles,38.3 years,"$2,083,117",18.7,42.0 years,38.3 years,castro,"13,359","$1,661,675",5.7
14,14,NaN,NaN,NaN,NaN,0.095 square miles,54.7 years,NaN,NaN,47.2 years,54.7 years,cathedralhill,"2,976",NaN,NaN
15,15,"$181,226",7.2,NaN,NaN,0.192 square miles,45.1 years,"$1,075,497",40.7,37.2 years,45.1 years,cayugaterrace,"5,390","$687,345",45.8
16,16,"$1,137,800",21.7,"$1,284,211city",26.2,0.858 square miles,46.7 years,"$846,500",14.2,41.9 years,46.7 years,centralrichmond,"25,740","$868,986",15.3
17,17,NaN,NaN,NaN,NaN,0.934 square miles,43.7 years,"$930,030",35.1,41.2 years,43.7 years,centralsunset,"20,470","$896,503",36.2
18,18,NaN,NaN,NaN,NaN,0.168 square miles,48.0 years,NaN,NaN,45.3 years,48.0 years,chinatown,"9,085",NaN,NaN
19,19,"$722,857",1.7,"$85,307city",2.0,0.391 square miles,42.5 years,"$659,375",1.6,41.9 years,42.5 years,civiccenter,"14,670","$718,750",2.0
20,20,"$951,014",12.5,NaN,NaN,0.082 square miles,36.3 years,"$1,925,899",71.5,36.8 years,36.3 years,clarendonheights,725,"$2,091,035",6.9
21,21,"$951,014",8.3,"$922,759city",13.3,0.135 square miles,33.1 years,"$1,925,899",18.0,34.1 years,33.1 years,colevalley,"3,053","$2,091,035",5.9
22,22,"$10,644,379",25.6,"$802,066city",20.2,0.174 square miles,37.2 years,"$954,604",18.0,45.2 years,37.2 years,coronaheights,"3,918","$2,219,704",7.7
23,23,"$515,921",19.0,"$976,714city",14.6,0.282 square miles,42.3 years,"$5,542,857",7.1,41.8 years,42.3 years,cowhollow,"7,973","$1,029,575",5.4
24,24,NaN,NaN,NaN,NaN,0.451 square miles,47.1 years,"$612,487",53.9,39.0 years,47.1 years,crocker-amazon,"8,948","$632,516",27.5
25,25,NaN,NaN,NaN,NaN,0.073 square miles,36.9 years,NaN,NaN,35.2 years,36.9 years,decoghetto,"2,427",NaN,NaN
26,26,"$1,233,501",5.0,"$430,476city",5.2,0.347 square miles,51.0 years,"$1,287,424",22.5,48.0 years,51.0 years,diamondheights,"1,925","$997,663",21.7
27,27,NaN,NaN,NaN,NaN,0.175 square miles,37.3 years,NaN,NaN,36.1 years,37.3 years,dogpatch,"1,333",NaN,NaN
28,28,NaN,NaN,NaN,NaN,0.338 square miles,35.2 years,NaN,NaN,39.6 years,35.2 years,downtown,"17,092",NaN,NaN
29,29,"$1,278,508",15.7,"$1,165,444city",34.9,0.141 square miles,36.3 years,"$1,360,804",6.8,43.0 years,36.3 years,dubocetriangle,"3,623","$622,736",3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,117,"$174,346",9.8,"$1,139,130city",15.0,0.480 square miles,36.5 years,"$927,038",5.5,36.4 years,36.5 years,showplacesquare,"3,430","$37,648",6.5
118,118,NaN,NaN,NaN,NaN,0.385 square miles,39.5 years,"$604,403",60.3,41.0 years,39.5 years,silverterrace,"7,348","$563,584",34.5
119,119,"$4,077,388",15.3,NaN,NaN,1.716 square miles,35.3 years,"$558,556",52.2,30.7 years,35.3 years,southbasin,"17,484","$600,720",16.0
120,120,NaN,NaN,NaN,NaN,0.386 square miles,37.5 years,NaN,NaN,38.0 years,37.5 years,southbeach,"5,866",NaN,NaN
121,121,"$74,340",4.5,"$160,383city",4.4,0.635 square miles,38.3 years,"$659,375",2.4,38.3 years,38.3 years,southofmarket,"12,088","$58,664",3.5
122,122,NaN,NaN,NaN,NaN,0.011 square milesRoads and streets,NaN,NaN,NaN,NaN,NaN,southpark,NaN,NaN,NaN
123,123,"$821,154",10.9,NaN,NaN,0.022 square miles,35.9 years,"$853,791",36.4,33.5 years,35.9 years,stmaryssquare,684,"$773,476",27.7
124,124,NaN,NaN,NaN,NaN,0.590 square miles,30.2 years,NaN,NaN,28.2 years,30.2 years,stonestown,"6,263","$744,286",1.8
125,125,NaN,NaN,NaN,NaN,0.152 square miles,41.6 years,"$667,681",24.6,36.7 years,41.6 years,sunnydale,"5,152","$680,296",25.9
126,126,NaN,NaN,NaN,NaN,0.513 square miles,42.5 years,"$794,023",45.6,41.1 years,42.5 years,sunnyside,"8,339","$791,210",30.3
127,127,"$948,590",13.5,"$793,750city",12.2,4.535 square miles,43.7 years,"$899,656",36.8,42.4 years,43.7 years,sunsetdistrict,"88,380","$928,410",33.5
128,128,"$979,459",12.7,"$623,084city",8.8,0.076 square miles,48.0 years,"$893,863",29.8,41.9 years,48.0 years,sutroheights,"1,668","$818,227",31.7
129,129,"$643,754",12.1,"$1,975,700city",22.9,0.171 square miles,42.9 years,"$2,058,641",2.9,39.0 years,42.9 years,telegraphhill,"6,980","$2,714,925",5.5
130,130,NaN,NaN,NaN,NaN,0.278 square miles,41.5 years,NaN,NaN,41.2 years,41.5 years,tenderloin,"9,194",NaN,NaN
131,131,NaN,NaN,NaN,NaN,0.067 square miles,36.6 years,NaN,NaN,36.3 years,36.6 years,thehub,"2,209",NaN,NaN
132,132,"$453,526",25.1,"$986,203city",23.5,0.090 square miles,43.2 years,"$1,164,478",19.9,43.6 years,43.2 years,transmission,"2,774","$754,327",2.8
133,133,NaN,NaN,NaN,NaN,0.657 square miles,26.5 years,NaN,NaN,25.1 years,26.5 years,treasureisland,41,NaN,NaN
134,134,"$2,085,799",28.1,"$508,043city",24.0,0.198 square miles,40.6 years,"$1,223,963",56.3,43.1 years,40.6 years,twinpeaks,"2,235","$5,740,611",12.6
135,135,"$951,014",9.9,"$332,813city",7.7,4.064 square miles,45.0 years,"$1,299,777",63.1,43.7 years,45.0 years,twinpeaks,"44,642","$1,053,039",22.8
136,136,NaN,NaN,NaN,NaN,0.006 square miles,31.8 years,NaN,NaN,39.2 years,31.8 years,unionsquare,47,NaN,NaN
137,137,"$1,605,597",43.2,"$314,360city",33.1,0.129 square miles,42.8 years,"$1,011,277",79.2,45.4 years,42.8 years,uppermarket,788,"$140,379",5.5
138,138,"$722,857",1.8,"$84,909city",2.0,0.376 square miles,42.5 years,"$659,375",1.6,41.9 years,42.5 years,vanness,"13,870","$718,750",2.0
139,139,NaN,NaN,NaN,NaN,1.258 square miles,41.8 years,"$618,647",47.1,37.8 years,41.8 years,visitacionvalley,"31,793","$636,540",28.6
140,140,NaN,NaN,NaN,NaN,0.226 square miles,45.9 years,"$1,239,110",61.7,43.6 years,45.9 years,westportal,"3,290","$959,565",28.9
141,141,NaN,NaN,NaN,NaN,0.465 square miles,49.5 years,"$1,457,053",79.8,46.7 years,49.5 years,West,"4,868","$1,719,541",10.3
142,142,"$1,248,456",3.7,"$2,116,746city",5.8,0.368 square miles,47.1 years,"$1,407,653",3.2,40.7 years,47.1 years,westernaddition,"14,331","$1,041,250",6.6
143,143,NaN,NaN,NaN,NaN,0.142 square miles,45.0 years,"$924,664",75.6,42.6 years,45.0 years,westwoodhighlands,"1,822","$961,626",21.7
144,144,NaN,NaN,NaN,NaN,0.198 square miles,47.3 years,"$936,953",80.8,44.3 years,47.3 years,westwoodpark,"2,198","$775,893",28.2
145,145,NaN,NaN,NaN,NaN,0.245 square miles,26.5 years,NaN,NaN,25.1 years,26.5 years,yerbabuenaisland,15,NaN,NaN
146,146,"$1,266,701",12.1,"$1,616,667city",17.4,0.240 square miles,37.0 years,"$2,360,000",13.4,37.6 years,37.0 years,ziondistrict,"6,509","$1,208,333",3.8