### import the data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sys
sys.path.append("../")

from common import get_train, get_test, get_parking, feat_eng, plot_dataset_overlay

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

### Get the train and test data

In [2]:
train_df = get_train()
test_df = get_test()

Time it took: 0.15009403228759766
Time it took: 0.09977483749389648

### Add the dates, merge in all the Location information (GPS)

In [3]:
train_df = feat_eng(train_df)

adding additional features to test and/or train ...

loading parking data 1.7M
loading address data 30K
calculating closest joins
merging
complete
fixing neighborhood string formatting
merging in neighborhood information
Time it took: 0.6186020374298096

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1100 entries, 0 to 1099
Data columns (total 49 columns):
Street             1100 non-null object
From               1100 non-null object
To                 1100 non-null object
Date               1100 non-null datetime64[ns]
Time               1100 non-null object
Real.Spots         1100 non-null int64
Street.Length      1100 non-null float64
any_spot           1100 non-null int64
holiday            1100 non-null int64
day                1100 non-null int64
mon                1100 non-null int64
dow                1100 non-null int64
week               1100 non-null int64
hour               1100 non-null int64
min                1100 non-null int64
morn_night         1100 non-null int64
id_x               1100 non-null int64
From_lat           1100 non-null float64
From_long          1100 non-null float64
From_zip           1100 non-null int64
id_y               1100 non-null int64
To_lat             1100 non-null float64
To_long            1100 non-null float64
To_zip             1100 non-null int64
lat                1100 non-null float64
lon                1100 non-null float64
id                 1100 non-null int64
parking_idx        1100 non-null int64
addr_idx           1100 non-null int64
min_join_dist      1100 non-null int64
nhood              1100 non-null object
road               1100 non-null object
zipcode            1100 non-null object
neighborhood       1100 non-null object
Unnamed: 0         1100 non-null int64
_id                1100 non-null float64
apt2_avg_value     716 non-null float64
apt2_pct           716 non-null float64
apt4_avg_value     479 non-null float64
apt4_pct           479 non-null float64
area               1100 non-null float64
f_pop              1100 non-null float64
house_avg_value    702 non-null float64
house_pct          702 non-null float64
m_pop              1100 non-null float64
med_age            1100 non-null float64
pop                1100 non-null float64
twn_avg_value      479 non-null float64
twn_pct            479 non-null float64
dtypes: datetime64[ns](1), float64(21), int64(19), object(8)
memory usage: 429.7+ KB

In [5]:
train_df.head(5)

,Street,From,To,Date,Time,Real.Spots,Street.Length,any_spot,holiday,day,...,apt4_pct,area,f_pop,house_avg_value,house_pct,m_pop,med_age,pop,twn_avg_value,twn_pct
0,Mission Street,25th Street,26th Street,2014-01-07,16:19,4,179.132970,1,0,7,...,12.6,1.049,38.4,972996.0,44.9,39.2,38.4,25825.0,1048521.0,18.5
1,Polk Street,Ellis Street,Olive Street,2014-01-18,20:42,0,52.740210,0,0,18,...,2.0,0.391,42.5,659375.0,1.6,41.9,42.5,14670.0,718750.0,2.0
2,Van Ness Avenue,Geary Boulevard,Myrtle Street,2014-01-18,20:39,0,52.517840,0,0,18,...,5.8,0.368,47.1,1407653.0,3.2,40.7,47.1,14331.0,1041250.0,6.6
3,Van Ness Avenue,Bush Street,Fern Street,2014-01-18,20:38,0,52.405315,0,0,18,...,NaN,0.036,45.9,NaN,NaN,42.2,45.9,1395.0,NaN,NaN
4,Van Ness Avenue,Daniel Burnham Court,Post Street,2014-01-18,20:38,0,52.191193,0,0,18,...,NaN,0.278,41.5,NaN,NaN,41.2,41.5,9194.0,NaN,NaN

In [6]:
parking_df = get_parking()

loading cached copy
Time it took: 2.576550006866455

In [7]:
parking_df.head()

,lat,lon,datetime,id,parking_idx,addr_idx,min_join_dist,full_addr,jlat,jlon,nhood,road,zipcode
0,37.771637,-122.437112,1471967637400,8710,8710,9914,-14,"272, Divisadero Street, Western Addition, SF, ...",37.771706,-122.436866,Western Addition,Divisadero Street,94114
1,37.777229,-122.465370,1459821377952,11364,11364,12568,-14,"616, Balboa Street, Richmond District, SF, Cal...",37.777254,-122.465370,Richmond District,Balboa Street,94118
2,37.771172,-122.437683,1461349554900,8478,8478,9682,-14,"904, Haight Street, Haight-Ashbury, SF, Califo...",37.771429,-122.437393,Haight-Ashbury,Haight Street,94117
3,37.777328,-122.465012,1462252229600,11458,11458,12662,-14,"596, 7th Avenue, Richmond District, SF, Califo...",37.777346,-122.464977,Richmond District,7th Avenue,94118
4,37.778664,-122.464111,1463364111300,12038,12038,13242,-14,"Pedro Arrupe Hall, 490, 6th Avenue, Presidio T...",37.779361,-122.463980,Presidio Terrace,6th Avenue,94118

In [8]:
import datetime as dt

dt.datetime.fromtimestamp(
    int("1284101485")
).strftime('%Y-%m-%d %H:%M')

parking_df['date'] = parking_df['datetime'].map(lambda x :dt.datetime.fromtimestamp(int(x/1000)).strftime('%Y-%m-%d %H:%M'))

In [ ]:
parking_df.groupby('road')[['lat']].count()

                       lat
road
10th Avenue           4345
10th Street           2432
11th Avenue            230
11th Street           3420
12th Avenue              1
12th Street           1346
13th Street            558
14th Avenue            700
14th Street           3240
15th Avenue              1
15th Street           2493
16th Avenue           1605
16th Street           9753
17th Street           6442
18th Avenue           6258
18th Street          11656
19th Avenue            863
19th Street           3986
1st Street            3313
20th Avenue           4857
20th Street           4060
21st Avenue           2633
21st Street           1771
22nd Avenue           1597
22nd Street           8284
23rd Avenue            191
23rd Street           7210
24th Avenue            834
24th Street          45040
25th Avenue           1743
...                    ...
Vale Avenue              4
Valencia Street      39012
Vallejo Street        8777
Valley Street            3
Van Ness Avenue      28174
Varela Avenue          198
Vasquez Avenue           2
Verdi Place            105
Vicente Street         837
Vicksburg Street       106
Vidal Drive              2
Vinton Court           154
Virginia Avenue        463
Waller Street           22
Walter U. Lum Place    337
Warren Drive             1
Washington Street     8972
Waverly Place          491
Wawona Street            8
Webster Street        1307
Welsh Street           149
Wentworth Place         18
West Portal Ave      36410
Whitney Street           1
Wiese Street           242
Wilder Street          114
Willard Street           1
Willow Street          714
Winston Drive           14
Woodside Avenue         13

[484 rows x 1 columns]

In [ ]:
plot_dataset_overlay()

In [ ]:
plt.savefig('../report_imgs/map_overlay.png')

In [ ]:
GREEN = PARKING RECORDS (MIL)
BLUE = SENSOR (FIXED) RECORDS (MIL)
RED = TRAIN
YELLOW = TEST