In [1]:
import pandas as pd
import sys
sys.path.append('../')
from common import load_clean_train

In [3]:
train_df = load_clean_train()
TRAIN_STREETS = train_df['Street'].unique()
TRAIN_STREETS = [x.upper().replace('STREET', 'ST').replace('AVENUE', 'AVE') for x in TRAIN_STREETS]
TRAIN_STREETS

### Trimming down data

In [24]:
sn_df = pd.read_feather('/Users/timlee/data/sf_parking/P_sensor.feather')
ORIG_SENSOR_STREETS = sn_df['STREET_NAME'].unique()
sn_df = sn_df[sn_df['STREET_NAME'].isin(TRAIN_STREETS)]
dt_str = sn_df['START_TIME_DT'].unique()
lkup = {str_v : pd.to_datetime(str_v) for str_v in dt_str}

sn_df['START_TIME_DT'] = sn_df['START_TIME_DT'].map(lambda x : lkup[x])
sn_df['tot_spaces'] = sn_df['TOTAL_TIME'] / 3600.
sn_df['occ_spaces'] = sn_df['TOTAL_OCCUPIED_TIME'] / 3600.
sn_df['vac_spaces'] = sn_df['TOTAL_VACANT_TIME'] / 3600.
sn_df['unk_spaces'] = sn_df['TOTAL_UNKNOWN_TIME'] / 3600.
sn_df['occ_spaces_pct'] = sn_df['occ_spaces']/ sn_df['tot_spaces']
sn_df['vac_spaces_pct'] = sn_df['vac_spaces'] / sn_df['tot_spaces']
sn_df['unk_spaces_pct'] = sn_df['unk_spaces'] / sn_df['tot_spaces']
sn_df['day'] = sn_df['START_TIME_DT'].dt.day
sn_df['mon'] = sn_df['START_TIME_DT'].dt.month
sn_df['dow'] = sn_df['START_TIME_DT'].dt.dayofweek
sn_df['hour'] = sn_df['START_TIME_DT'].dt.hour
sn_df.reset_index(inplace=True)
print(sn_df.shape)
sn_df.to_feather('/Users/timlee/data/sf_parking/sensor_small.feather')

(1911247, 45)

In [25]:
ORIG_SENSOR_STREETS

array(['FILLMORE ST', 'JACKSON ST', '09TH AVE', '10TH AVE', '14TH AVE',
       'BERRY ST', '01ST ST', 'CALIFORNIA ST', 'CHESTNUT ST', 'FOLSOM ST',
       'JONES ST', '02ND ST', 'FRANKLIN ST', 'MARKET ST', '03RD ST',
       'CLAY ST', 'FREMONT ST', 'FRONT ST', '04TH ST', 'GEARY BLVD',
       'MASON ST', 'CLEMENT ST', 'KEARNY ST', '18TH ST', '22ND ST',
       'LEAVENWORTH ST', '23RD ST', 'BATTERY ST', 'DAVIS ST',
       'GOLDEN GATE AVE', 'MCALLISTER ST', 'BAY ST', 'DIVISADERO ST',
       'DRUMM ST', 'GOUGH ST', 'GROVE ST', 'LAGUNA ST', 'BEACH ST',
       'FELL ST', 'GREENWICH ST', 'HAWTHORNE ST', 'LOMBARD ST',
       'MALLORCA WAY', 'BEALE ST', 'BRANNAN ST', 'HAYES ST', 'BRYANT ST',
       'HOWARD ST', 'FILBERT ST', 'HOFF ST', 'BUCHANAN ST', 'BUSH ST',
       'JESSIE ST', 'MONTGOMERY ST', 'LARKIN ST', 'KING ST',
       'COLUMBUS AVE', 'LECH WALESA ST', 'AVILA ST', 'CAPP ST',
       'MISSION ST', 'HICKORY ST', 'NORTH POINT ST', 'OCTAVIA ST',
       'NATOMA ST', 'MERCHANT ST', 'PIXLEY ST', 'POLK ST', 'TAYLOR ST',
       'POWELL ST', 'REDWOOD ST', 'WASHINGTON ST', 'POST ST',
       'TOWNSEND ST', 'RITCH ST', 'SACRAMENTO ST', 'WEBSTER ST', 'OAK ST',
       'VALENCIA ST', 'SANSOME ST', 'WEST PORTAL AVE', 'PINE ST',
       'PIERCE ST', 'SCOTT ST', 'SPEAR ST', 'EMBARCADERO SOUTH',
       'JEFFERSON ST', '05TH ST', '16TH ST', 'HALLECK ST', 'HARRISON ST',
       'UNION ST', 'EMBARCADERO NORTH', 'HYDE ST', 'MINNA ST',
       'COMMERCIAL ST', 'MAIN ST', 'DELANCEY ST', 'STOCKTON ST',
       'STEUART ST', 'SUTTER ST', 'SOUTH PARK', '02ND AVE', '03RD AVE',
       '04TH AVE', 'TEHAMA ST', '07TH AVE', '20TH ST', 'STEINER ST',
       'VAN NESS AVE', '21ST ST', 'NEW MONTGOMERY ST', 'BARTLETT ST',
       'VICENTE ST', 'STEVENSON ST', '19TH ST', '17TH ST', None], dtype=object)

In [20]:
SENSOR_STREETS = sn_df['STREET_NAME'].unique()
SENSOR_STREETS

array(['JACKSON ST', 'JONES ST', 'MASON ST', 'KEARNY ST', 'LEAVENWORTH ST',
       '23RD ST', 'BATTERY ST', 'GROVE ST', 'BRYANT ST', 'BUSH ST',
       'JESSIE ST', 'MONTGOMERY ST', 'LARKIN ST', 'COLUMBUS AVE',
       'MISSION ST', 'POLK ST', 'TAYLOR ST', 'REDWOOD ST', 'WASHINGTON ST',
       'POST ST', 'PINE ST', 'HYDE ST', 'STOCKTON ST', 'SUTTER ST',
       'VAN NESS AVE'], dtype=object)

### Will have to make GEARY like another street

In [19]:
[x for x in TRAIN_STREETS if x not in SENSOR_STREETS]

['GEARY ST']

In [23]:
bbb = sn_df[sn_df['STREET_NAME']=='JACKSON ST'].groupby(['dow','hour'])['vac_spaces'].mean().reset_index()
bbb.pivot(index='hour', columns = 'dow', values = 'vac_spaces').reset_index()

dow,hour,0,1,2,3,4,5,6
0,0,9.469629,9.780590,9.730809,9.352232,9.304764,4.908751,2.569731
1,1,9.719062,10.099841,10.022693,9.800505,9.962757,7.058030,4.617688
2,2,9.778209,10.044318,9.965030,9.816986,10.018745,9.305049,8.272451
3,3,9.720063,9.913666,9.871797,9.723991,9.949473,9.986848,9.243064
4,4,9.786826,9.929340,9.956642,9.766241,10.019343,10.140577,9.326377
5,5,9.378218,9.564155,9.586384,9.382872,9.632069,10.088864,9.193093
6,6,8.007075,8.094056,8.032303,7.964834,8.067944,9.758869,8.920662
7,7,7.111954,6.759990,6.361300,6.550607,6.887343,8.719646,8.228231
8,8,6.187426,5.694843,5.302425,5.581166,5.750814,7.402779,5.961365
9,9,5.201196,4.457783,4.403234,4.624955,4.713714,7.042205,3.000744
10,10,4.263098,3.329593,3.461904,3.394228,3.530405,5.935392,1.782032
11,11,3.804171,2.888744,3.069097,2.922999,3.101549,4.949152,1.574211
12,12,3.214940,2.603489,2.705332,2.599553,2.772964,4.418068,1.715855
13,13,3.164979,2.681263,2.807790,2.644711,2.823233,4.259318,1.707469
14,14,3.664664,3.030285,3.173682,2.936831,3.260732,4.555389,1.715931
15,15,4.111984,3.376690,3.491805,3.315400,3.656367,4.779248,1.810464
16,16,4.156136,3.441541,3.451039,3.346289,3.459462,4.694982,2.016870
17,17,3.731611,3.040393,2.874189,2.747564,2.802496,3.773211,2.092916
18,18,2.298271,1.662643,1.512073,1.455376,1.571084,1.852815,2.093476
19,19,2.101109,1.443240,1.295475,1.205936,1.245511,1.202943,2.532387
20,20,2.684471,1.924162,1.739563,1.507593,1.195011,1.124450,3.545991
21,21,4.511333,3.637623,3.194033,2.659829,1.444485,1.297237,5.214686
22,22,6.841876,6.227457,5.711666,4.745187,2.085992,1.378149,7.030015
23,23,8.768812,8.502686,7.922876,7.474073,3.174002,1.655673,8.661376

In [8]:
sn_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7902291 entries, 0 to 7902290
Data columns (total 44 columns):
BLOCK_ID               object
STREET_NAME            object
BLOCK_NUM              float64
STREET_BLOCK           object
AREA_TYPE              object
PM_DISTRICT_NAME       object
RATE                   float64
START_TIME_DT          datetime64[ns]
TOTAL_TIME             float64
TOTAL_OCCUPIED_TIME    float64
TOTAL_VACANT_TIME      float64
TOTAL_UNKNOWN_TIME     float64
OP_TIME                float64
OP_OCCUPIED_TIME       float64
OP_VACANT_TIME         float64
OP_UNKNOWN_TIME        float64
NONOP_TIME             float64
NONOP_OCCUPIED_TIME    float64
NONOP_VACANT_TIME      float64
NONOP_UNKNOWN_TIME     float64
GMP_TIME               float64
GMP_OCCUPIED_TIME      float64
GMP_VACANT_TIME        float64
GMP_UNKNOWN_TIME       float64
COMM_TIME              float64
COMM_OCCUPIED_TIME     float64
COMM_VACANT_TIME       float64
COMM_UNKNOWN_TIME      float64
CAL_MONTH_NAME         object
CAL_YEAR               float64
CAL_DATE               object
DAY_TYPE               object
TIME_OF_DAY            float64
tot_spaces             float64
occ_spaces             float64
vac_spaces             float64
unk_spaces             float64
occ_spaces_pct         float64
vac_spaces_pct         float64
unk_spaces_pct         float64
day                    float64
mon                    float64
dow                    float64
hour                   float64
dtypes: datetime64[ns](1), float64(35), object(8)
memory usage: 2.6+ GB