## Notebook for making hour2vec and dow2vec

In [1]:
import pandas as pd
import numpy as np
import re
import _pickle as pickle
from haversine import haversine
import matplotlib.pyplot as plt
%matplotlib inline
from common import load_clean_train, load_clean_test, load_midpoint_id, extract_dates, add_midpoint_loc_id, tt_join_city_stats2clean, load_clean_parking

In [7]:
# SVD
from sklearn.decomposition import NMF

def NMF_factorize(X, n=5):
    msk = X.isna().values
    X = X.fillna(0)
    X_imputed = X.copy()
   # Initializing model
    nmf_model = NMF(n_components=n)
    nmf_model.fit(X_imputed.values)
    W = nmf_model.fit_transform(X_imputed.values)
    
    # iterate model
    while nmf_model.reconstruction_err_**2 > 10:
        W = nmf_model.fit_transform(X_imputed.values)
        X_imputed.values[~msk] = W.dot(nmf_model.components_)[~msk]
        print(nmf_model.reconstruction_err_)
    
    
    return W, nmf_model.components_


def fill_matrix_w_df(mtx, df):
    placeholder = mtx.copy()
    rows, cols = df.shape
    for i in range(rows):
        hour = df.loc[i,'hour']
        #print('-========', hour)
        for j in range(1,cols):
            day = df.columns[j]
            #print(hour, day, j)
            if not pd.isnull(df.iloc[i,j]):
                placeholder.iloc[hour-1,day] = df.iloc[i,j]
    return placeholder


def make_vectors(train_df, parking_df, snr_df, specific_loc=60, street_name='MISSION ST'):
    placeholder = np.empty((24,7))
    placeholder[:] = np.nan
    placeholder_df = pd.DataFrame(placeholder)
        
    # training
    spec_trn = train_df[train_df['loc_id']==specific_loc].copy()
    s = spec_trn.groupby(['dow','hour','day', 'mon'])['Real.Spots'].mean().reset_index()
    s2 = s.groupby(['dow','hour'])['Real.Spots'].mean().reset_index()
    s4 = s2.pivot(index='hour', columns='dow', values='Real.Spots').reset_index()
    
    # parking
    spec_park = parking_df[parking_df['loc_id']==specific_loc]
    s = spec_park.groupby(['dow','hour','day','month']).size().reset_index()
    max_spots = np.max(s[0])
    s[0] = max_spots - s[0] 
    s2 = s.groupby(['dow','hour'])[0].mean().reset_index()
    s3 = s2.pivot(index='hour', columns='dow', values =0).reset_index()
    s3.fillna(max_spots,inplace=True)
    
    #SENSOR
    if street_name == 'GEARY ST':
         street_name = 'MONTGOMERY ST'
    s5 = snsr_df[snsr_df['STREET_NAME']==street_name].groupby(['dow','hour'])['vac_spaces'].mean().reset_index()
    s5 = s5.pivot(index='hour', columns = 'dow', values = 'vac_spaces').reset_index()
    
    pl0 = fill_matrix_w_df(placeholder_df, s5)
    pl1 = fill_matrix_w_df(pl0, s3)
    pl2 = fill_matrix_w_df(pl1, s4)

    pl2 = pl2[(pl2.T != 0).any()]
    pl2.dropna(axis=0,how='all',inplace=True)
    pl2.dropna(axis=1,how='all',inplace=True)
    hour_row_labels = pl2.index
    dow_col_labels = pl2.columns.values
    hour_vec, dow_vec = NMF_factorize(pl2, n = 12)
    return hour_vec, dow_vec, hour_row_labels, dow_col_labels

def make_all_vectors(train_df, parking_df, snr_df):
    locid_hour2vec = None
    locid_dow2vec = None
    
    print('gathering ids and streets....')
    loc_ids = train_df.groupby(['loc_id','Street']).size().reset_index()
    loc_ids = loc_ids[['loc_id','Street']].values
    loc_ids = {k : v.upper().replace('STREET','ST').replace('Avenue', 'AVE') for k,v in loc_ids}
    all_vecs = {}
    
    for loc_id, street_name in loc_ids.items():
        print('processing ... %d %s' % (loc_id, street_name))
        hour_vec, dow_vec, hours, dow = make_vectors(train_df, parking_df, snr_df, specific_loc=loc_id, street_name=street_name)
        
        block = pd.DataFrame(hour_vec)
        block['hour'] = hours
        block['loc_id'] = loc_id
        if locid_hour2vec is not None:
            locid_hour2vec = pd.concat([locid_hour2vec, block])
        else:
            locid_hour2vec = block


        block = pd.DataFrame(dow_vec.T)
        block['dow'] = dow
        block['loc_id'] = loc_id
        if locid_dow2vec is not None:
            locid_dow2vec = pd.concat([locid_dow2vec, block])
        else:
            locid_dow2vec = block
    
    print('reordering for output')
    locid_hour2vec = locid_hour2vec[['loc_id','hour',0,1,2,3,4,5,6,7,8,9,10,11]].reset_index()
    locid_hour2vec.drop(columns='index', inplace=True)
    locid_hour2vec.columns = ['loc_id','hour'] + ['hourvec%d' % i for i in range(12)] 

    locid_dow2vec = locid_dow2vec[['loc_id','dow',0,1,2,3,4,5,6,7,8,9,10,11]].reset_index()
    locid_dow2vec.drop(columns='index', inplace=True)
    locid_dow2vec.columns = ['loc_id','dow'] + ['dowvec%d' % i for i in range(12)]
    
    locid_hour2vec.to_feather('ref_data/parking_locid_hour2vec.feather')
    locid_dow2vec.to_feather('ref_data/parking_locid_dow2vec.feather')
    
    print('shapes are %s %s' %(str(locid_dow2vec.shape), str(locid_hour2vec.shape)))
    return locid_hour2vec, locid_dow2vec

In [8]:
def add_yelp(input_df):
    tmp = input_df.copy()
    yelp_summary_stats = pd.read_feather('ref_data/yelp_summary_stats_df_by_location.feather')
    tmp = tmp.merge(yelp_summary_stats, how='left', on = 'loc_id')
    return tmp

train_df = load_clean_train()
test_df = load_clean_test()
print(train_df.shape, test_df.shape)

train_df = extract_dates(train_df)
test_df = extract_dates(test_df)
print(train_df.shape, test_df.shape)

train_df = add_midpoint_loc_id(train_df)
test_df = add_midpoint_loc_id(test_df)
print(train_df.shape, test_df.shape)

train_df = tt_join_city_stats2clean(train_df)
test_df = tt_join_city_stats2clean(test_df)
print(train_df.shape, test_df.shape)

train_df = add_yelp(train_df)
test_df = add_yelp(test_df)
print(train_df.shape, test_df.shape)

train_df['STREET'] = train_df['Street'].map(lambda x : x.replace(' ','').lower())

(1100, 18) (726, 16)
(1100, 26) (726, 24)
(1100, 27) (726, 25)
(1100, 31) (726, 29)
(1100, 316) (726, 314)

In [9]:
snsr_df = pd.read_feather('/Users/timlee/data/sf_parking/sensor_small.feather')

In [10]:
parking_df = load_clean_parking()

In [11]:
hour2vec, dow2vec = make_all_vectors(train_df, parking_df, snsr_df)
# with open('ref_data/composite_dow_hour_vecs.pkl', 'wb') as f:
#     pickle.dump(all_vecs, f)

gathering ids and streets....
processing ... 0 MISSION ST
processing ... 1 23RD ST
processing ... 2 23RD ST
processing ... 3 23RD ST
processing ... 4 23RD ST
processing ... 5 BRYANT ST
processing ... 6 MISSION ST
processing ... 7 VAN NESS AVENUE
processing ... 8 VAN NESS AVENUE
processing ... 9 MISSION ST
processing ... 10 POLK ST
processing ... 11 GROVE ST
processing ... 12 GROVE ST
processing ... 13 LARKIN ST
processing ... 14 MISSION ST
processing ... 15 LARKIN ST
processing ... 16 VAN NESS AVENUE
processing ... 17 REDWOOD ST
processing ... 18 HYDE ST
processing ... 19 VAN NESS AVENUE
processing ... 20 POLK ST
processing ... 21 VAN NESS AVENUE
processing ... 22 LARKIN ST
processing ... 23 LEAVENWORTH ST
processing ... 24 POLK ST
processing ... 25 TAYLOR ST
processing ... 26 LEAVENWORTH ST
processing ... 27 POLK ST
processing ... 28 JONES ST
processing ... 29 VAN NESS AVENUE
processing ... 30 JONES ST
processing ... 31 POLK ST
processing ... 32 LARKIN ST
processing ... 33 VAN NESS AVENUE
processing ... 34 LARKIN ST
processing ... 35 GEARY ST
processing ... 36 GEARY ST
processing ... 37 TAYLOR ST
processing ... 38 GEARY ST
processing ... 39 LARKIN ST
processing ... 40 VAN NESS AVENUE
processing ... 41 VAN NESS AVENUE
processing ... 42 JONES ST
processing ... 43 POST ST
processing ... 44 JONES ST
processing ... 45 JESSIE ST
processing ... 46 VAN NESS AVENUE
processing ... 47 JONES ST
processing ... 48 KEARNY ST
processing ... 49 VAN NESS AVENUE
processing ... 50 LARKIN ST
processing ... 51 KEARNY ST
processing ... 52 VAN NESS AVENUE
processing ... 53 SUTTER ST
processing ... 54 POST ST
processing ... 55 JONES ST
processing ... 56 SUTTER ST
processing ... 57 TAYLOR ST
processing ... 58 KEARNY ST
processing ... 59 MASON ST
processing ... 60 PINE ST
processing ... 61 PINE ST
processing ... 62 BUSH ST
processing ... 63 MONTGOMERY ST
processing ... 64 KEARNY ST
processing ... 65 BUSH ST
processing ... 66 PINE ST
processing ... 67 PINE ST
processing ... 68 VAN NESS AVENUE
processing ... 69 BATTERY ST
processing ... 70 POLK ST
processing ... 71 WASHINGTON ST
processing ... 72 WASHINGTON ST
processing ... 73 STOCKTON ST
processing ... 74 BATTERY ST
processing ... 75 POLK ST
processing ... 76 JACKSON ST
processing ... 77 MONTGOMERY ST
processing ... 78 MONTGOMERY ST
processing ... 79 VAN NESS AVENUE
processing ... 80 STOCKTON ST
processing ... 81 WASHINGTON ST
processing ... 82 BATTERY ST
processing ... 83 MONTGOMERY ST
processing ... 84 KEARNY ST
processing ... 85 MONTGOMERY ST
processing ... 86 COLUMBUS AVENUE
processing ... 87 POLK ST
processing ... 88 MONTGOMERY ST
processing ... 89 POLK ST
processing ... 90 KEARNY ST
processing ... 91 MONTGOMERY ST
processing ... 92 STOCKTON ST
reordering for output
shapes are (635, 14) (2053, 14)

In [14]:
hour2vec

,loc_id,hour,hourvec0,hourvec1,hourvec2,hourvec3,hourvec4,hourvec5,hourvec6,hourvec7,hourvec8,hourvec9,hourvec10,hourvec11
0,0,0,9.119143,2.718641,0.874219,2.012421,2.182592,0.789806,0.852255,0.641476,0.008458,1.029036,0.406243,0.303415
1,0,1,8.480153,5.863092,1.692448,2.021654,4.345150,0.852672,1.107530,0.000000,0.000000,0.021098,0.709856,0.000000
2,0,2,7.938739,6.246981,2.284527,1.846010,4.946104,0.393758,1.032027,0.000000,0.000000,0.071083,1.528047,0.000000
3,0,3,8.207523,6.812406,1.954575,1.811711,4.343911,0.865961,1.074725,0.005643,0.000000,0.106537,1.504019,0.000000
4,0,4,8.188204,6.661636,1.688898,1.704350,3.604483,1.093660,1.022343,0.063359,0.000000,0.265008,1.397764,0.000000
5,0,5,4.543130,2.604558,0.414184,1.415178,0.360974,1.979661,0.773205,1.271179,1.413552,1.175982,1.645599,0.538137
6,0,6,6.096293,3.738880,1.321281,0.888846,0.972857,1.112900,0.756093,0.576472,0.002622,1.001987,1.867502,0.061004
7,0,7,3.069016,5.161645,2.312407,0.506469,0.385952,0.987351,1.371274,0.820134,0.551722,0.940270,0.888449,0.680729
8,0,8,0.534181,0.000000,0.950521,0.000000,0.049142,0.662786,0.220101,2.521513,0.575027,1.089210,0.000000,1.588881
9,0,9,2.575601,3.846349,0.000000,0.215281,2.517342,0.842446,0.066997,0.300513,1.255121,0.992725,1.806122,0.163605
10,0,10,0.000000,0.000000,1.082474,0.000000,0.000000,1.682032,2.574894,0.000000,1.601310,0.000000,3.642767,0.001764
11,0,11,1.025296,0.000000,0.000000,0.370734,2.171876,0.000000,0.095864,3.164882,0.000000,0.000000,3.751458,1.124967
12,0,12,0.000000,0.000000,0.000000,0.000000,8.740463,1.709397,0.000000,0.000000,1.739978,0.000000,0.001108,0.000332
13,0,13,1.646972,4.570277,0.013180,1.798427,2.184701,1.035897,0.029871,0.558403,0.567763,0.158448,1.948814,0.339607
14,0,14,0.708230,5.649496,0.000021,0.298637,3.406898,0.251728,1.588405,0.168164,0.103129,0.064178,1.207296,0.000000
15,0,15,0.000000,0.349938,0.561046,0.000000,0.000198,1.137462,0.951856,1.342777,4.079900,0.987527,1.910216,0.000000
16,0,16,2.695861,5.168972,0.000000,0.178362,2.861355,1.417390,0.056139,0.012333,0.947956,0.016154,1.305715,0.006832
17,0,17,0.222992,0.000000,0.000000,0.024702,0.009147,0.000000,0.158817,10.903621,0.000000,0.000000,1.525379,0.109629
18,0,18,0.000000,0.613596,0.000000,2.426825,0.000000,0.000000,0.000000,0.000000,0.000000,1.104650,0.000000,0.000000
19,0,19,0.071255,0.000000,0.000000,0.103475,0.435101,0.561998,0.691983,1.766256,0.812130,0.899083,0.999700,1.024340
20,0,20,0.191504,0.000000,0.000000,0.603825,1.892529,0.000000,0.792319,3.152173,0.000000,0.000000,1.858083,0.878759
21,0,21,3.040152,3.404838,0.073532,0.924656,1.604144,0.003811,1.303603,2.700534,0.000000,0.015978,0.594794,0.034671
22,0,22,2.968135,4.078028,0.122046,0.764012,3.015365,0.001757,1.991335,3.690201,0.011505,0.028343,0.438201,0.000000
23,0,23,8.680192,1.453531,0.711844,1.828178,1.506360,0.332791,0.791312,1.013863,0.013886,1.155494,0.016584,0.419300
24,1,0,10.481338,1.527525,2.488273,0.138970,0.437206,0.425629,0.623290,0.878150,2.399244,0.494153,0.961065,1.137432
25,1,1,14.655348,2.257746,4.380914,0.532554,0.446159,0.276363,0.173435,0.319943,0.004388,0.184434,1.224926,2.392470
26,1,2,14.123762,3.709056,4.386928,0.314574,0.122182,0.206882,0.047831,0.000000,0.030908,0.166293,1.828763,3.237770
27,1,3,11.718805,4.117755,3.136729,0.834449,0.000000,0.817613,0.000000,0.477478,0.722191,0.710739,0.691916,3.453310
28,1,4,12.213022,4.042831,3.433074,0.648007,0.000000,0.931755,0.011121,0.269242,0.052798,0.609433,0.930165,3.495182
29,1,5,11.562704,3.936346,2.662570,0.574816,0.051262,1.407043,0.002586,0.348425,0.274796,0.695944,1.593518,3.754898
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023,91,18,2.039159,0.840073,0.413191,1.047306,0.534778,1.835218,0.000000,0.804906,0.429740,0.033267,0.217051,0.333576
2024,91,19,2.961114,1.029509,0.765749,0.544793,0.000000,0.491350,0.099572,0.843752,0.127272,0.000000,0.487644,0.877733
2025,91,20,2.451619,1.015081,0.924743,0.563201,0.000000,1.096998,0.000000,1.105021,0.136931,0.424780,0.491844,0.596909
2026,91,21,2.777804,1.488321,1.257492,0.033381,0.402597,1.515889,1.107607,0.992783,0.131731,0.409632,0.185524,0.441441
2027,91,22,3.940571,1.427836,2.241582,0.124371,0.086888,0.318708,0.528078,1.119526,0.061935,0.162948,0.736113,1.193504
2028,91,23,5.612987,0.804852,0.000000,1.533911,0.394335,1.382510,0.016240,0.365138,0.418501,0.290183,0.342533,0.802395
2029,92,0,1.193009,0.130174,0.324447,0.273060,0.076842,0.277684,0.097089,0.303471,0.082176,0.372088,0.604241,0.461976
2030,92,1,0.222806,0.111911,0.661226,0.002064,0.012484,0.109300,0.006611,0.248490,0.600314,0.602718,0.926562,0.468987
2031,92,2,1.591449,0.093404,0.464296,0.150890,0.148005,0.106085,0.000000,0.093506,0.135239,0.252752,0.493254,0.639482
2032,92,3,1.142986,0.087225,0.324342,0.113296,0.120733,0.361830,0.065136,0.095027,0.058018,0.135961,0.546288,0.575177
2033,92,4,0.212379,0.019324,0.194116,0.001991,0.000381,0.672078,0.123842,0.225388,0.183862,0.113275,0.810449,0.314841
2034,92,5,0.098110,0.859650,0.003448,0.000152,0.056685,0.547617,0.000000,0.059681,0.060071,0.000000,0.647750,0.271093
2035,92,6,0.000000,0.911805,0.013327,0.177390,0.001316,2.126980,0.000000,0.030778,0.027952,0.000000,0.603976,0.071352
2036,92,7,0.000332,0.920064,0.000640,0.089011,0.010142,0.265044,0.000000,0.009960,0.150167,0.000000,0.519029,0.190509
2037,92,8,4.372229,4.607830,0.116811,1.280479,0.291960,0.317743,0.075284,0.603314,0.753557,0.300110,1.129144,0.211239
2038,92,9,0.000000,0.000000,2.108572,0.000000,0.387299,0.000000,0.000000,1.418017,0.000000,0.000000,2.185865,0.000000
2039,92,10,2.688709,1.196897,0.003044,1.291325,0.148632,1.972520,0.205167,0.285363,1.160191,0.004713,0.608929,1.498911
2040,92,11,5.176482,0.089102,0.187293,2.111095,0.291699,2.115904,0.846502,0.000000,0.065570,0.294588,1.371249,0.610305
2041,92,12,1.710015,7.636035,0.000000,0.002464,0.707398,0.000000,0.000000,0.000000,1.159176,0.128404,0.791063,0.000000
2042,92,13,1.392902,5.296101,0.000000,0.000000,0.483447,0.184407,0.000000,0.000000,1.465661,1.639937,0.138625,0.000000
2043,92,14,3.952648,1.840318,0.401236,1.298607,0.001149,1.344080,0.757144,0.881436,0.023007,0.000000,0.216859,0.447535
2044,92,15,0.318258,5.526195,1.796613,0.000000,0.000000,1.839441,1.155035,0.000000,0.000000,1.209506,0.000000,0.000000
2045,92,16,5.066260,0.003779,1.115775,0.984952,0.003822,1.562666,0.518773,0.862809,0.776839,0.292058,0.001946,0.512725
2046,92,17,0.133949,5.675712,1.684050,0.000000,0.000000,0.687500,2.352656,0.000000,0.000000,0.710562,1.554107,0.243550
2047,92,18,0.084487,0.019658,0.043660,0.077563,0.011809,0.010194,0.104713,0.117139,0.109033,0.148644,0.000000,0.095665
2048,92,19,5.594495,3.797843,1.924996,3.481422,0.040510,0.000000,0.112856,0.643707,0.000000,0.457577,0.273837,0.000000
2049,92,20,0.212561,0.056672,0.053911,0.144032,0.060797,0.000000,0.113699,0.184841,0.262691,0.201715,0.000000,0.101075
2050,92,21,0.000000,0.172400,0.000000,0.125529,0.036434,0.000000,0.032640,0.267076,0.407522,0.546626,0.081082,0.248789
2051,92,22,0.000000,0.162574,0.000000,0.000000,0.098097,0.058812,0.427392,0.507591,0.429702,0.451067,0.340310,0.000000
2052,92,23,0.151657,0.295766,0.294692,0.000270,0.000000,0.100869,0.020996,0.400757,0.439649,0.777419,0.560279,0.551727

In [76]:
hour_vec.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23])

In [77]:
dow_vec.keys()

dict_keys([0, 1, 2, 3, 4, 5, 6])

In [70]:
hour_vec[0]

array([  6.06144234e+00,   1.62914441e+00,   3.28608797e-03,
         2.17193392e+00,   7.65132819e-01,   3.64996638e-01,
         1.17455367e+00,   2.68091736e+00])

In [71]:
dow_vec[1]

array([ 0.73004767,  0.        ,  1.6044187 ,  1.77178773,  0.66050069,
        0.        ,  0.96394066,  0.06518009])

In [249]:
train_df.groupby('neighborhood').size()

neighborhood
chinatown             15
civiccenter           98
fillmoredistrict      84
financialdistrict    138
lowernobhill          73
missiondistrict      114
nobhill              139
northbeach            10
pacificheights        45
polkgulch             94
russianhill           35
southofmarket         46
tenderloin           159
westernaddition       50
dtype: int64

In [250]:
rez = make_vectors(train_df, parking_df, 84)

9 7
4 5

In [251]:
rez

{84: {'dow': {0: array([ 0.        ,  0.        ,  0.91653008,  0.        ,  0.01845601,
           1.12344613]),
   1: array([ 0.38461266,  0.48616891,  0.        ,  0.60562896,  0.68642017,
           0.05074085]),
   2: array([  8.22141225e-01,   0.00000000e+00,   1.51920527e+00,
            7.93355358e-04,   2.37141253e-01,   0.00000000e+00]),
   3: array([  1.47277574e+00,   1.48684889e-04,   0.00000000e+00,
            0.00000000e+00,   6.40693624e-01,   5.55292763e-01]),
   4: array([  0.00000000e+00,   0.00000000e+00,   3.14445598e-01,
            3.77871977e-04,   1.72654478e+00,   1.07640252e+00]),
   5: array([ 1.61517787,  1.07983578,  0.31658781,  0.59228623,  0.53811442,  0.        ])},
  'hours': {8: array([  2.55319708e+00,   2.93503229e+00,   3.59081861e-01,
            3.38195684e-01,   3.62099455e-01,   1.63573644e-03,
            8.25049656e-01,   2.69402241e-01]),
   9: array([ 1.04907873,  1.90687311,  1.32431972,  1.23915182,  0.        ,
           0.0840998 ,  1.5265507 ,  0.77682327]),
   10: array([ 0.79439   ,  0.13238629,  0.48152795,  0.60661154,  0.80313626,
           0.90919466,  1.24801318,  0.68522868]),
   11: array([ 0.93327059,  1.34708118,  1.87238422,  0.14630157,  0.00540565,
           0.94251236,  0.25211023,  0.73355988]),
   12: array([  1.22142645e+00,   9.89365503e-04,   1.89333369e+00,
            5.15260447e-03,   1.32543146e-02,   0.00000000e+00,
            0.00000000e+00,   1.56016935e+00]),
   13: array([ 0.        ,  2.07094442,  1.13781822,  0.85896852,  0.23872758,
           0.620203  ,  1.01922905,  0.00433205]),
   14: array([ 1.7763543 ,  0.        ,  0.69369984,  1.64958508,  1.01128516,
           0.        ,  0.        ,  0.        ]),
   15: array([ 0.        ,  0.39140417,  0.        ,  1.81196221,  0.02752789,
           0.        ,  1.77850884,  0.64899151]),
   16: array([ 1.5973582 ,  0.        ,  0.        ,  0.        ,  1.70419818,
           0.        ,  2.31079922,  0.01484985])}}}

In [233]:
lbls2

array([0, 1, 2, 3, 4, 5])

In [232]:
lbls

Int64Index([8, 9, 10, 11, 12, 13, 14, 15, 16], dtype='int64')

In [227]:
pd.DataFrame(np.dot(hour_vec,dow_vec))

          0         1         2         3         4         5
0  2.000135  2.500266  3.000063  2.999826  2.999745  4.000006
1  3.998466  2.998174  2.999855  4.002592  2.503266  2.998300
2  2.999773  2.666336  1.999982  3.000470  2.500593  2.999653
3  4.000675  2.000557  3.999981  2.998978  1.998876  2.000681
4  2.000300  0.000521  4.000020  2.999510  0.499476  3.000250
5  4.000357  3.000399  2.000029  2.499490  2.999339  1.000358
6  2.999928  0.000008  3.000013  0.000079  3.000047  3.999951
7  3.000749  2.501188  0.001378  2.998550  1.498022  2.001238
8  0.000397  3.000157  2.000063  1.999655  2.999658  4.000171

### Test range

In [192]:
bbb = test_df.groupby(['dow','hour']).size().reset_index()
bbb.pivot(index='hour', columns = 'dow', values = 0)

dow      1     2    3     4     5     6
hour
7      NaN   NaN  NaN   NaN   NaN   6.0
8      NaN  21.0  NaN  11.0   NaN  16.0
9      6.0  15.0  NaN  19.0   2.0   9.0
10    17.0   9.0  NaN  22.0  15.0  10.0
11     8.0  28.0  1.0  23.0   6.0  10.0
12     5.0  12.0  1.0   5.0   NaN   NaN
13     4.0   NaN  9.0   1.0   7.0   NaN
14     2.0  30.0  4.0   1.0   NaN   NaN
15     3.0  26.0  NaN   NaN   NaN   NaN
16     1.0  32.0  NaN  10.0   NaN   NaN
17     NaN   2.0  NaN   1.0   NaN   NaN
18     NaN   NaN  NaN  13.0  11.0   2.0
19     2.0  19.0  4.0  41.0  29.0   7.0
20     3.0  28.0  5.0  32.0  24.0   NaN
21     2.0  18.0  5.0  10.0  25.0  12.0
22     1.0   5.0  8.0   5.0   1.0   NaN
23     NaN   3.0  1.0   NaN   NaN   NaN

In [173]:
s5 = train_df[train_df['neighborhood'] == 'tenderloin'].groupby(['dow','hour'])[['Real.Spots']].mean().reset_index()
s5.pivot(index='hour', columns='dow')

     Real.Spots
dow           0    1    2     3         4          5    6
hour
7      1.500000  NaN  NaN   NaN       NaN        NaN  NaN
8           NaN  NaN  NaN   NaN       NaN   0.500000  NaN
9      1.250000  0.0  1.0   NaN       NaN   2.500000  NaN
10          NaN  NaN  NaN   NaN       NaN   1.000000  NaN
11          NaN  0.5  NaN   NaN       NaN        NaN  NaN
12          NaN  NaN  NaN   NaN       NaN        NaN  0.0
13     2.071429  NaN  0.0  0.00       NaN   8.000000  NaN
14          NaN  NaN  NaN  0.75       NaN   2.666667  NaN
15     9.666667  NaN  0.0   NaN       NaN  10.400000  NaN
16     2.800000  NaN  NaN   NaN       NaN        NaN  NaN
18          NaN  NaN  NaN   NaN  3.333333   2.200000  NaN
19          NaN  NaN  NaN   NaN  1.125000   0.000000  NaN
20          NaN  NaN  NaN   NaN  0.521739   1.090909  NaN
21          NaN  NaN  NaN   NaN  1.266667   1.333333  NaN
22          NaN  NaN  NaN   NaN  1.000000        NaN  NaN

In [4]:
train_df.groupby('loc_id').size().sort_values(ascending=False)

loc_id
8     48
16    43
79    25
19    25
61    25
60    23
75    23
4     21
46    20
68    20
0     20
2     19
3     19
7     19
87    19
5     18
1     17
71    17
70    17
14    17
40    16
89    16
21    16
72    15
33    14
49    14
62    14
52    14
29    14
57    14
      ..
38     7
55     7
90     7
22     7
69     6
67     6
83     6
54     6
84     6
91     6
51     6
48     6
44     6
42     6
86     6
85     6
56     6
30     6
45     6
12     5
64     5
58     5
74     5
88     5
77     5
82     5
63     5
73     4
66     4
17     2
Length: 93, dtype: int64

In [5]:
specific_loc=74#60 / 74 
spec_loc = train_df[train_df['loc_id']==specific_loc].copy()
print(spec_loc.head(2))
s = spec_loc.groupby(['dow','hour'])['Real.Spots'].mean().reset_index()
s.pivot(index='hour', columns='dow', values='Real.Spots')

             Street            From                 To       Date   Time  \
376  Battery Street  Halleck Street  California Street 2014-02-10  17:45
401  Battery Street  Halleck Street  California Street 2014-02-11  12:29

     Real.Spots  Street.Length  any_spot    Clean_Street      Clean_From  \
376           7       54.14309         1  Battery Street  Halleck Street
401           0       54.14309         0  Battery Street  Halleck Street

         ...       ycat_wraps  ycat_yelpevents  10-100  100-250  1000-2000  \
376      ...              1.0              0.0     163      107         23
401      ...              1.0              0.0     163      107         23

     2000+  250-500 500-1000  less_10         STREET
376      5       77       38      106  batterystreet
401      5       77       38      106  batterystreet

[2 rows x 317 columns]

dow     0    1    5
hour
7     0.0  NaN  NaN
8     NaN  NaN  0.0
11    0.0  NaN  NaN
12    NaN  0.0  NaN
17    7.0  NaN  NaN

In [6]:
specific_loc=60
spec_trn = train_df[train_df['loc_id']==specific_loc].copy()
s = spec_trn.groupby(['dow','hour'])['Real.Spots'].mean().reset_index()
s.pivot(index='hour', columns='dow', values='Real.Spots')

dow     0    2    3    4     5    6
hour
7     NaN  NaN  NaN  NaN   NaN  3.0
9     NaN  NaN  NaN  NaN   NaN  3.0
13    NaN  NaN  NaN  4.0   9.0  NaN
15    NaN  NaN  NaN  NaN  13.0  NaN
16    1.5  1.0  0.0  NaN   NaN  8.0
17    NaN  NaN  NaN  0.0   NaN  NaN
18    NaN  NaN  0.0  4.5   NaN  NaN
19    NaN  NaN  4.0  NaN   NaN  NaN
20    NaN  NaN  NaN  4.0   0.0  NaN
21    NaN  NaN  NaN  0.0   NaN  NaN

### Parking Matrix

In [7]:
parking_df = load_clean_parking()

In [8]:
spec_park = parking_df[parking_df['loc_id']==79]
s = spec_park.groupby(['dow','hour','day','month']).size().reset_index()
max_spots = s[0].max()
s = s.groupby(['dow','hour'])[0].mean().reset_index()        
s2 = s.pivot(index='hour', columns='dow', values =0).reset_index()
s2

dow  hour         0         1         2         3         4         5    6
0       8  1.000000  1.333333  1.000000       NaN  1.000000  1.000000  NaN
1       9  2.333333  2.500000  2.000000  3.000000  3.666667  3.666667  NaN
2      10  4.000000  4.000000  4.000000  3.666667  3.333333  4.000000  NaN
3      11  3.000000  3.500000  2.333333  2.500000  3.333333  5.333333  NaN
4      12  2.666667  3.750000  3.000000  1.333333  5.000000  6.000000  NaN
5      13  2.666667  4.000000  3.000000  2.000000  5.000000  5.000000  2.0
6      14  1.333333  3.750000  2.500000  2.000000  4.333333  4.333333  1.0
7      15  3.000000  2.750000  3.333333  3.000000  3.666667  3.333333  NaN
8      16  2.333333  1.750000  8.000000  4.000000  2.333333  2.500000  NaN
9      17  3.000000  2.250000  1.500000  5.333333  4.000000  2.666667  NaN
10     18       NaN       NaN  1.000000  1.000000       NaN       NaN  NaN
11     19       NaN       NaN       NaN  1.000000       NaN       NaN  NaN

In [9]:
locid_hour2vec = None
locid_dow2vec = None

for i in range(93):
    spec_id = i
    spec_park = parking_df[parking_df['loc_id']==spec_id]
    if spec_park.shape[0] > 0:
        s = spec_park.groupby(['dow','hour','day','month']).size().reset_index()
        max_spots = s[0].max()
        s = s.groupby(['dow','hour'])[0].mean().reset_index()        
        s2 = s.pivot(index='hour', columns='dow', values =0).reset_index()
        hours = s2['hour'].values

        s2 = max_spots - s2
        s2.drop(columns='hour', inplace=True)
        dow = list(s2.columns.values)
        hour_vec, dow_vec = NMF_factorize(s2, n = 12)

        block = pd.DataFrame(hour_vec)
        block['hour'] = hours
        block['loc_id'] = spec_id
        if locid_hour2vec is not None:
            locid_hour2vec = pd.concat([locid_hour2vec, block])
        else:
            locid_hour2vec = block


        block = pd.DataFrame(dow_vec.T)
        block['dow'] = dow
        block['loc_id'] = spec_id
        if locid_dow2vec is not None:
            locid_dow2vec = pd.concat([locid_dow2vec, block])
        else:
            locid_dow2vec = block

locid_hour2vec = locid_hour2vec[['loc_id','hour',0,1,2,3,4,5,6,7,8,9,10,11]].reset_index()
locid_hour2vec.drop(columns='index', inplace=True)
locid_hour2vec.columns = ['loc_id','hour'] + ['hourvec%d' % i for i in range(12)] 

locid_dow2vec = locid_dow2vec[['loc_id','dow',0,1,2,3,4,5,6,7,8,9,10,11]].reset_index()
locid_dow2vec.drop(columns='index', inplace=True)
locid_dow2vec.columns = ['loc_id','dow'] + ['dowvec%d' % i for i in range(12)]

#locid_hour2vec.to_feather('ref_data/parking_locid_hour2vec.feather')
#locid_dow2vec.to_feather('ref_data/parking_locid_dow2vec.feather')

In [10]:
locid_hour2vec.head()

,loc_id,hour,hourvec0,hourvec1,hourvec2,hourvec3,hourvec4,hourvec5,hourvec6,hourvec7,hourvec8,hourvec9,hourvec10,hourvec11
0,0,6,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.141574,0.000000,0.000000,0.908912,0.000000
1,0,7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.246689,0.000000,0.000000,0.363427,0.000000
2,0,8,3.709756,5.127013,4.780231,0.000000,0.135352,1.622257,1.875739,0.080435,0.389360,0.000000,0.000000,1.207767
3,0,9,1.702784,1.765342,2.123713,0.000073,0.454871,1.111809,3.529719,0.057934,0.000000,0.221811,1.173810,0.491005
4,0,10,4.073160,4.703089,3.264858,0.000040,0.385605,0.033502,0.615925,0.000000,0.734755,0.322854,1.269693,0.676651

In [11]:
locid_dow2vec

,loc_id,dow,dowvec0,dowvec1,dowvec2,dowvec3,dowvec4,dowvec5,dowvec6,dowvec7,dowvec8,dowvec9,dowvec10,dowvec11
0,0,0,0.000000,9.919214e-01,0.423171,0.638141,0.000000e+00,1.686131,1.395086,0.000000,0.531341,0.943333,5.993336e-03,0.000429
1,0,1,0.000000,1.070876e-01,1.962715,0.030888,9.136925e-01,0.300488,0.317859,10.632492,1.944199,0.000000,2.049009e+00,0.000000
2,0,2,1.322147,0.000000e+00,0.579747,0.194002,2.481225e-01,0.560561,0.523157,0.000000,0.514264,1.966833,1.585410e-07,2.372975
3,0,3,0.000000,9.527776e-01,1.335654,0.388553,3.704479e-01,1.006470,0.000000,0.000000,1.398005,0.895071,0.000000e+00,0.000278
4,0,4,0.000000,8.528183e-01,1.402113,0.339874,1.951393e+00,0.565554,0.372788,0.000000,0.118102,3.019374,1.010462e-02,0.000621
5,0,5,0.000000,1.922314e+00,0.188351,0.372770,3.071104e+00,0.000000,1.150970,0.000071,0.000000,0.366804,0.000000e+00,0.000411
6,0,6,0.000000,0.000000e+00,0.000000,3.170156,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
7,1,0,0.382737,1.955838e-01,0.000000,0.000000,0.000000e+00,1.838416,0.319826,0.955790,1.042020,0.000000,0.000000e+00,0.000000
8,1,1,0.597623,9.914977e-02,0.908290,0.792158,0.000000e+00,0.639915,0.248725,0.070582,0.515162,0.449775,9.396025e-02,0.000000
9,1,2,0.638111,0.000000e+00,0.258109,1.122543,1.394818e+00,0.000000,0.599680,0.003728,0.000000,0.599269,4.080201e-01,0.000000
10,1,3,0.000000,1.087411e+00,0.976402,0.000000,1.394702e+00,0.000083,0.000000,0.934198,0.288688,0.000000,0.000000e+00,0.000000
11,1,4,0.000114,0.000000e+00,0.000000,2.196785,0.000000e+00,0.000000,0.000000,1.251962,0.000000,0.425362,9.161944e-01,0.000000
12,1,5,0.000000,1.379255e+00,0.679434,0.206526,0.000000e+00,0.265048,0.987238,0.000000,0.454054,0.448961,3.885088e-01,1.516838
13,2,0,0.092556,1.862940e-01,1.362607,0.000000,5.597624e-01,0.517078,0.631060,1.989637,0.521493,0.538394,1.712072e-01,0.639576
14,2,1,0.108748,5.509455e-01,0.593227,0.326317,0.000000e+00,0.879137,0.153793,0.536257,0.587623,0.814023,1.734997e+00,0.000000
15,2,2,0.340306,2.426033e-01,0.389144,0.892390,3.841765e-01,0.646727,0.486334,0.044989,0.000000,1.060612,2.039525e-01,2.693623
16,2,3,0.499710,2.602442e-01,0.787394,0.575661,3.742735e-01,0.000000,1.600647,1.657948,0.000000,0.000000,3.199411e-01,0.000000
17,2,4,0.256673,6.874352e-01,0.358664,1.121284,1.077644e+00,0.040410,1.219842,0.091681,0.609862,0.211011,6.405731e-01,2.095633
18,2,5,0.364378,6.422243e-02,0.362073,0.175245,8.631976e-01,1.832026,1.126046,0.000000,0.000000,0.000000,3.404429e-01,1.570596
19,2,6,0.000000,7.671901e-01,0.000000,0.000000,4.767198e+00,0.000000,0.000000,3.861298,0.000000,0.000000,0.000000e+00,0.000000
20,3,0,0.297401,4.375967e-02,1.111927,1.675009,4.635974e-01,3.139462,0.280595,0.000016,2.331777,0.666466,1.263998e+00,0.045366
21,3,1,0.239878,1.832976e+00,0.050390,0.635164,7.431629e-01,2.143688,1.032192,0.000000,0.001411,0.184699,1.533186e+00,2.389457
22,3,2,0.699525,7.697236e-01,0.088619,1.538267,6.138217e-01,0.000000,0.305986,0.000089,0.867763,0.555705,4.425918e-05,14.264602
23,3,3,0.733938,3.097592e-01,0.000000,1.584679,0.000000e+00,0.000000,0.840718,0.000000,0.742301,1.372326,0.000000e+00,3.551767
24,3,4,0.186628,8.595751e-01,0.560532,0.024864,1.549044e+00,0.000000,0.564782,5.629920,0.138793,0.737628,0.000000e+00,3.754066
25,3,5,0.600976,7.741107e-01,0.035804,0.007561,9.754619e-01,0.000000,0.559092,0.000000,1.817502,0.000000,0.000000e+00,1.333372
26,3,6,0.000000,0.000000e+00,4.383791,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,6.281624e-06,0.000161
27,4,0,0.841171,1.330276e-02,2.083233,0.490514,3.712620e-01,0.564454,0.080938,2.036689,1.388405,0.092830,3.707182e-02,0.005762
28,4,1,0.767935,1.701649e-01,2.136647,0.198428,3.987112e-01,0.449518,0.546157,1.602905,0.000000,0.006130,1.935253e-02,2.681489
29,4,2,0.292803,6.468378e-02,0.000000,1.455103,2.597274e+00,0.203308,0.000053,0.000000,1.385075,0.000000,6.625241e-01,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
387,88,5,0.377209,1.310478e-07,0.000000,0.000000,1.987920e+00,1.550185,2.342499,2.159547,0.000000,0.202819,8.059824e-03,0.000000
388,88,6,0.000000,0.000000e+00,0.000000,0.000000,8.292233e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
389,89,0,0.003727,6.362369e-01,0.671378,0.901596,0.000000e+00,2.712972,1.390769,0.000000,0.000000,0.071795,1.270274e-05,0.995817
390,89,1,0.244860,6.029437e-01,0.292333,0.028519,1.923718e+00,0.028072,0.033577,0.000572,0.916483,1.427738,2.001359e+00,0.379560
391,89,2,0.269826,1.190831e+00,0.884751,0.870474,8.229257e-05,0.000000,0.838633,0.564468,0.715611,0.000000,0.000000e+00,0.000000
392,89,3,0.229463,1.010425e+00,0.369280,0.634697,0.000000e+00,1.358802,0.027336,1.053050,0.505486,0.000000,8.132946e-06,0.438996
393,89,4,0.407976,1.657753e-02,0.154436,0.711043,0.000000e+00,0.099785,1.036289,1.297733,0.308348,0.394819,9.765192e-06,0.352354
394,89,5,0.406950,4.933315e-02,0.033774,0.531513,2.662725e-06,1.888229,0.124619,0.000558,1.450876,0.000000,0.000000e+00,0.505681
395,89,6,0.000000,0.000000e+00,2.183577,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,8.143419,0.000000e+00,0.000000
396,90,0,0.461711,6.507969e-01,1.035580,0.019172,2.357263e-01,0.000000,3.105450,0.629705,1.069793,0.034311,0.000000e+00,0.000000
397,90,1,0.080647,4.627821e-01,0.000000,0.371159,3.312575e-01,0.000000,0.041516,1.373582,0.647308,0.465225,7.619960e-04,0.086623
398,90,2,0.402931,1.155759e+00,0.475818,0.530809,3.071689e-02,0.000000,0.737239,0.120308,1.403405,0.000052,2.574669e-03,0.732449
399,90,3,0.790061,0.000000e+00,0.910358,0.238029,2.343260e-02,1.675833,0.000189,0.000000,0.865569,0.924702,0.000000e+00,0.000000
400,90,4,0.432718,3.263450e-01,0.313792,0.000004,3.123642e-01,1.394079,0.116977,0.744786,0.000000,0.002009,5.917253e+00,1.049138
401,90,5,0.416589,0.000000e+00,2.443849,0.456426,6.404263e-02,0.000014,0.000000,0.001126,0.911335,0.000000,0.000000e+00,0.000000
402,90,6,0.000008,0.000000e+00,0.000000,0.000000,1.052719e+00,0.000000,0.000000,0.000000,0.000000,3.694355,0.000000e+00,0.000000
403,91,0,0.073508,4.523232e-01,0.995252,0.000000,2.090369e+00,0.412083,0.000000,0.378397,0.000000,0.010024,1.406164e-03,0.000000
404,91,1,0.209649,6.880284e-01,0.230873,0.618229,0.000000e+00,0.717641,0.000000,0.377971,0.000000,0.259661,7.258936e-03,0.000000
405,91,2,0.325607,5.985821e-01,0.001963,0.038245,4.930704e+00,1.603397,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
406,91,3,0.376276,5.060059e-01,0.697046,0.278180,7.726652e-01,0.223533,0.000011,0.132870,0.000000,0.845122,0.000000e+00,0.000000
407,91,4,0.212087,6.275407e-01,0.288788,0.201891,2.760879e+00,0.082721,1.826379,0.344144,0.000000,0.200912,0.000000e+00,0.000000
408,91,5,0.307801,5.252978e-01,0.539211,0.209135,1.168773e-01,0.092060,1.611424,0.282956,0.000000,0.014515,8.335030e-01,0.000000
409,91,6,0.000000,0.000000e+00,0.000000,2.303975,8.183681e-10,0.000000,0.000000,0.000000,11.928014,0.000000,0.000000e+00,2.700443
410,92,0,0.212235,2.952079e-01,0.000000,0.000000,0.000000e+00,0.000000,0.672334,0.084071,1.392713,0.145653,7.215304e-02,0.240764
411,92,1,0.662064,7.860256e-01,0.000000,0.000000,0.000000e+00,0.000000,0.775249,0.493713,0.101308,0.607663,2.315124e-01,0.000000
412,92,2,0.695987,4.673339e-01,0.000000,0.000000,0.000000e+00,0.000000,0.965837,0.000000,0.000000,0.000000,2.000330e-02,1.042641
413,92,3,0.553475,0.000000e+00,0.707291,0.000056,0.000000e+00,0.966025,0.192211,0.861407,0.157047,0.012705,2.906400e-02,0.669698
414,92,4,0.374342,5.766422e-01,1.053192,0.000000,1.418822e-05,0.000002,0.000000,0.350995,0.011396,1.521410,1.270569e+00,0.175143
415,92,5,0.537988,2.995600e-02,0.000000,0.000092,0.000000e+00,0.000000,1.043272,0.033660,0.318529,1.483648,0.000000e+00,0.000000
416,92,6,0.000000,0.000000e+00,0.000000,3.716421,1.790148e+00,0.062319,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000

In [12]:
spec_park = parking_df[parking_df['loc_id']==1]
s = spec_park.groupby(['dow','hour']).size().reset_index()
s.pivot(index='hour', columns='dow', values =0)

dow     0    1    2    3    4    5
hour
7     NaN  NaN  NaN  NaN  NaN  1.0
8     NaN  NaN  1.0  1.0  NaN  NaN
9     1.0  5.0  2.0  1.0  3.0  NaN
10    2.0  6.0  4.0  3.0  3.0  5.0
11    2.0  4.0  3.0  NaN  5.0  7.0
12    1.0  3.0  2.0  2.0  1.0  4.0
13    4.0  4.0  1.0  1.0  4.0  2.0
14    NaN  4.0  1.0  2.0  4.0  5.0
15    2.0  4.0  1.0  2.0  4.0  5.0
16    2.0  6.0  3.0  2.0  NaN  6.0
17    2.0  1.0  5.0  2.0  NaN  4.0

### Combining vectors

In [50]:
placeholder = np.empty((24,7))
placeholder[:] = np.nan
placeholder_df = pd.DataFrame(placeholder)

In [51]:
specific_loc=60
spec_park = parking_df[parking_df['loc_id']==specific_loc]
s = spec_park.groupby(['dow','hour','day','month']).size().reset_index()
max_spots = np.max(s[0])
s[0] = max_spots - s[0] 
s2 = s.groupby(['dow','hour'])[0].mean().reset_index()
s3 = s2.pivot(index='hour', columns='dow', values =0).reset_index()
s3.fillna(max_spots,inplace=True)

In [52]:
s3

dow  hour         0         1         2         3         4         5    6
0       8  9.000000  8.000000  9.000000  7.500000  7.000000  9.000000  9.0
1       9  7.500000  7.000000  6.000000  5.333333  7.333333  6.666667  9.0
2      10  6.000000  5.750000  4.666667  7.000000  5.333333  6.000000  9.0
3      11  6.333333  5.250000  5.500000  5.333333  7.000000  6.666667  9.0
4      12  5.000000  6.250000  4.333333  7.000000  4.666667  6.000000  8.0
5      13  5.000000  4.750000  6.000000  6.666667  6.333333  6.333333  9.0
6      14  5.666667  5.250000  6.333333  4.666667  6.333333  3.666667  9.0
7      15  4.666667  3.250000  7.500000  6.333333  4.666667  5.333333  9.0
8      16  7.666667  5.750000  6.333333  5.666667  5.666667  5.000000  9.0
9      17  6.333333  6.333333  7.000000  6.000000  6.000000  5.000000  8.0
10     18  8.000000  9.000000  9.000000  9.000000  8.000000  9.000000  9.0
11     20  9.000000  8.000000  9.000000  9.000000  9.000000  9.000000  9.0

In [53]:
spec_trn = train_df[train_df['loc_id']==specific_loc].copy()
s = spec_trn.groupby(['dow','hour','day', 'mon'])['Real.Spots'].mean().reset_index()
s2 = s.groupby(['dow','hour'])['Real.Spots'].mean().reset_index()
s4 = s2.pivot(index='hour', columns='dow', values='Real.Spots').reset_index()

In [54]:
s4

dow  hour    0    2    3    4     5    6
0       7  NaN  NaN  NaN  NaN   NaN  3.0
1       9  NaN  NaN  NaN  NaN   NaN  3.0
2      13  NaN  NaN  NaN  4.0   9.0  NaN
3      15  NaN  NaN  NaN  NaN  13.0  NaN
4      16  1.5  1.0  0.0  NaN   NaN  8.0
5      17  NaN  NaN  NaN  0.0   NaN  NaN
6      18  NaN  NaN  0.0  4.5   NaN  NaN
7      19  NaN  NaN  4.0  NaN   NaN  NaN
8      20  NaN  NaN  NaN  4.0   0.0  NaN
9      21  NaN  NaN  NaN  0.0   NaN  NaN

In [58]:
def fill_matrix_w_df(mtx, df):
    placeholder = mtx.copy()
    rows, cols = df.shape
    print(rows, cols)
    for i in range(rows):
        hour = df.loc[i,'hour']
        #print('-========', hour)
        for j in range(1,cols):
            day = df.columns[j]
            #print(hour, day, j)
            if not pd.isnull(df.iloc[i,j]):
                placeholder.iloc[hour-1,day] = df.iloc[i,j]
    return placeholder


def make_vectors(train_df, parking_df, specific_loc=60):
    placeholder = np.empty((24,7))
    placeholder[:] = np.nan
    placeholder_df = pd.DataFrame(placeholder)
        
    # training
    spec_trn = train_df[train_df['loc_id']==specific_loc].copy()
    s = spec_trn.groupby(['dow','hour','day', 'mon'])['Real.Spots'].mean().reset_index()
    s2 = s.groupby(['dow','hour'])['Real.Spots'].mean().reset_index()
    s4 = s2.pivot(index='hour', columns='dow', values='Real.Spots').reset_index()
    
    # parking
    spec_park = parking_df[parking_df['loc_id']==specific_loc]
    s = spec_park.groupby(['dow','hour','day','month']).size().reset_index()
    max_spots = np.max(s[0])
    s[0] = max_spots - s[0] 
    s2 = s.groupby(['dow','hour'])[0].mean().reset_index()
    s3 = s2.pivot(index='hour', columns='dow', values =0).reset_index()
    s3.fillna(max_spots,inplace=True)
    
    pl1 = fill_matrix_w_df(placeholder_df, s3)
    pl2 = fill_matrix_w_df(pl1, s4)
    
    hour_vec, dow_vec = NMF_factorize(pl2, n = 6)
    print(hour_vec.shape,dow_vec.shape)
    return hour_vec, dow_vec

In [61]:
pl1 = fill_matrix_w_df(placeholder_df, s3)
pl2 = fill_matrix_w_df(pl1, s4)
hour_vec, dow_vec = NMF_factorize(pl2, n = 6)
print(hour_vec.shape,dow_vec.shape)

12 8
10 7
(24, 6) (6, 7)

In [57]:
placeholder_df

     0   1   2   3   4   5   6
0  NaN NaN NaN NaN NaN NaN NaN
1  NaN NaN NaN NaN NaN NaN NaN
2  NaN NaN NaN NaN NaN NaN NaN
3  NaN NaN NaN NaN NaN NaN NaN
4  NaN NaN NaN NaN NaN NaN NaN
5  NaN NaN NaN NaN NaN NaN NaN
6  NaN NaN NaN NaN NaN NaN NaN
7  NaN NaN NaN NaN NaN NaN NaN
8  NaN NaN NaN NaN NaN NaN NaN
9  NaN NaN NaN NaN NaN NaN NaN
10 NaN NaN NaN NaN NaN NaN NaN
11 NaN NaN NaN NaN NaN NaN NaN
12 NaN NaN NaN NaN NaN NaN NaN
13 NaN NaN NaN NaN NaN NaN NaN
14 NaN NaN NaN NaN NaN NaN NaN
15 NaN NaN NaN NaN NaN NaN NaN
16 NaN NaN NaN NaN NaN NaN NaN
17 NaN NaN NaN NaN NaN NaN NaN
18 NaN NaN NaN NaN NaN NaN NaN
19 NaN NaN NaN NaN NaN NaN NaN
20 NaN NaN NaN NaN NaN NaN NaN
21 NaN NaN NaN NaN NaN NaN NaN
22 NaN NaN NaN NaN NaN NaN NaN
23 NaN NaN NaN NaN NaN NaN NaN

In [145]:
pl1

           0         1         2         3         4         5    6
0        NaN       NaN       NaN       NaN       NaN       NaN  NaN
1        NaN       NaN       NaN       NaN       NaN       NaN  NaN
2        NaN       NaN       NaN       NaN       NaN       NaN  NaN
3        NaN       NaN       NaN       NaN       NaN       NaN  NaN
4        NaN       NaN       NaN       NaN       NaN       NaN  NaN
5        NaN       NaN       NaN       NaN       NaN       NaN  NaN
6        NaN       NaN       NaN       NaN       NaN       NaN  NaN
7        NaN  8.000000       NaN  7.500000  7.000000       NaN  NaN
8   7.500000  7.000000  6.000000  5.333333  7.333333  6.666667  NaN
9   6.000000  5.750000  4.666667  7.000000  5.333333  6.000000  NaN
10  6.333333  5.250000  5.500000  5.333333  7.000000  6.666667  NaN
11  5.000000  6.250000  4.333333  7.000000  4.666667  6.000000  8.0
12  5.000000  4.750000  6.000000  6.666667  6.333333  6.333333  NaN
13  5.666667  5.250000  6.333333  4.666667  6.333333  3.666667  NaN
14  4.666667  3.250000  7.500000  6.333333  4.666667  5.333333  NaN
15  7.666667  5.750000  6.333333  5.666667  5.666667  5.000000  NaN
16  6.333333  6.333333  7.000000  6.000000  6.000000  5.000000  8.0
17  8.000000       NaN       NaN       NaN  8.000000       NaN  NaN
18       NaN       NaN       NaN       NaN       NaN       NaN  NaN
19       NaN  8.000000       NaN       NaN       NaN       NaN  NaN
20       NaN       NaN       NaN       NaN       NaN       NaN  NaN
21       NaN       NaN       NaN       NaN       NaN       NaN  NaN
22       NaN       NaN       NaN       NaN       NaN       NaN  NaN
23       NaN       NaN       NaN       NaN       NaN       NaN  NaN

In [146]:
pl2

           0         1         2         3         4          5    6
0        NaN       NaN       NaN       NaN       NaN        NaN  NaN
1        NaN       NaN       NaN       NaN       NaN        NaN  NaN
2        NaN       NaN       NaN       NaN       NaN        NaN  NaN
3        NaN       NaN       NaN       NaN       NaN        NaN  NaN
4        NaN       NaN       NaN       NaN       NaN        NaN  NaN
5        NaN       NaN       NaN       NaN       NaN        NaN  NaN
6        NaN       NaN       NaN       NaN       NaN        NaN  3.0
7        NaN  8.000000       NaN  7.500000  7.000000        NaN  NaN
8   7.500000  7.000000  6.000000  5.333333  7.333333   6.666667  3.0
9   6.000000  5.750000  4.666667  7.000000  5.333333   6.000000  NaN
10  6.333333  5.250000  5.500000  5.333333  7.000000   6.666667  NaN
11  5.000000  6.250000  4.333333  7.000000  4.666667   6.000000  8.0
12  5.000000  4.750000  6.000000  6.666667  4.000000   9.000000  NaN
13  5.666667  5.250000  6.333333  4.666667  6.333333   3.666667  NaN
14  4.666667  3.250000  7.500000  6.333333  4.666667  13.000000  NaN
15  1.500000  5.750000  1.000000  0.000000  5.666667   5.000000  8.0
16  6.333333  6.333333  7.000000  6.000000  0.000000   5.000000  8.0
17  8.000000       NaN       NaN  0.000000  4.500000        NaN  NaN
18       NaN       NaN       NaN  4.000000       NaN        NaN  NaN
19       NaN  8.000000       NaN       NaN  4.000000   0.000000  NaN
20       NaN       NaN       NaN       NaN  0.000000        NaN  NaN
21       NaN       NaN       NaN       NaN       NaN        NaN  NaN
22       NaN       NaN       NaN       NaN       NaN        NaN  NaN
23       NaN       NaN       NaN       NaN       NaN        NaN  NaN

In [152]:
hour_vec, dow_vec = NMF_factorize(pl2, n = 6)

In [153]:
pd.DataFrame(np.dot(hour_vec,dow_vec))

           0         1         2         3         4          5         6
0   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
1   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
2   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
3   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
4   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
5   0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
6   0.250676  0.104997  0.000000  0.012860  0.000000   0.597712  2.847953
7   0.243699  8.270034  0.089477  7.533584  6.611909   0.085797  0.000000
8   7.623669  7.114822  5.765593  5.350698  7.171315   6.786217  2.959963
9   5.754657  5.518594  5.126117  6.974780  5.658529   5.774571  0.077519
10  6.514782  5.417095  5.154770  5.356694  6.762500   6.843401  0.000000
11  4.950575  6.208510  4.426153  6.996777  4.732803   5.949632  8.017280
12  4.741084  4.505849  6.482527  6.640456  4.344580   8.763618  0.081533
13  6.377748  5.909143  4.996225  4.751246  5.395267   4.341483  0.000000
14  4.589873  3.254593  7.565524  6.327218  4.781221  12.955019  0.016147
15  1.618568  5.894131  1.095379  0.036039  5.473303   5.020380  7.980920
16  6.139047  6.147468  7.387497  5.966902  0.444374   4.792609  8.068359
17  7.662179  0.001049  0.599473  0.000129  4.949473   0.005972  0.028457
18  0.001024  0.001103  0.001393  3.970055  0.344662   0.000584  0.000000
19  0.210583  7.327243  0.325132  0.031500  4.958607   0.120219  0.000000
20  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
21  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
22  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000
23  0.000000  0.000000  0.000000  0.000000  0.000000   0.000000  0.000000