In [2]:
import sys
sys.path.append('../')
from common import get_train

In [3]:
train = get_train()

Time it took: 0.13542985916137695

In [ ]:
### look for

In [4]:
train[(train['Street']==train['To']) | (train['Street']==train['From'])].head()
train[].head()

,Street,From,To,Date,Time,Real.Spots,Street.Length,any_spot
0,Mission Street,25th Street,26th Street,2014-01-07,16:19,4,179.132970,1
1,Polk Street,Ellis Street,Olive Street,2014-01-18,20:42,0,52.740210,0
2,Van Ness Avenue,Geary Boulevard,Myrtle Street,2014-01-18,20:39,0,52.517840,0
3,Van Ness Avenue,Bush Street,Fern Street,2014-01-18,20:38,0,52.405315,0
4,Van Ness Avenue,Daniel Burnham Court,Post Street,2014-01-18,20:38,0,52.191193,0