In [1]:
import json
import pandas as pd
import numpy as np
import feather
import _pickle as pickle
with open('../ref_data/yelp_api_json.json', 'r') as f:
    ls_dct = f.readlines()
    ls_dct = [json.loads(line) for line in ls_dct]
    
with open('../ref_data/mid_gps_id_4_yelp.pkl', 'rb') as f:
    mid2gps = pickle.load(f)

In [2]:
ls_dct[0]['0.0']['businesses'][0].keys()

dict_keys(['id', 'name', 'image_url', 'is_closed', 'url', 'review_count', 'categories', 'rating', 'coordinates', 'transactions', 'price', 'location', 'phone', 'display_phone', 'distance'])

In [3]:
output = []
categories_unique = []
for row in ls_dct:
    loc_id = list(row.keys())[0]
    json_bizs = row[loc_id]['businesses']
    for json in json_bizs:
        output_row = {}
        output_row['loc_id'] = loc_id
        output_row['yelp_biz_id'] = json['id']
        output_row['name'] = json['name']
        output_row['stars'] = json['rating']
        output_row['review_ct'] = json['review_count']
        output_row['category_alias'] = [v['alias'] for v in json['categories']]
        for v in json['categories']:
            output_row[v['alias']] = 1
        output_row['dollar_signs'] = json.get('price')
        output.append(output_row)

In [4]:
yelp_df = pd.DataFrame(output)
yelp_df['loc_id'] = yelp_df['loc_id'].astype(float)
yelp_df = yelp_df.merge(mid2gps, how='left', left_on = 'loc_id', right_on = 'id')
yelp_df['category_alias'] = yelp_df['category_alias'].map(lambda x : '|'.join(x))
yelp_df['dollar_signs'] = yelp_df['dollar_signs'].fillna('')
yelp_df['dollar_signs'] = yelp_df['dollar_signs'].map(lambda x: len(x.split('$'))-1 if '$' in x else 0)
imp_columns = ['loc_id', 'yelp_biz_id','id','name','stars','review_ct','category_alias','dollar_signs','lat_mid','lng_mid']
yelp_cats = [col for col in yelp_df if col not in imp_columns]
all_columns = imp_columns + yelp_cats
yelp_df = yelp_df[all_columns].copy()
yelp_df.fillna(0,inplace=True)
yelp_df.head(10)

,loc_id,yelp_biz_id,id,name,stars,review_ct,category_alias,dollar_signs,lat_mid,lng_mid,...,venezuelan,venues,vietnamese,vinyl_records,waffles,whiskeybars,wine_bars,wineries,wraps,yelpevents
0,0.0,la-taqueria-san-francisco-2,0,La Taqueria,4.0,3296,mexican,1,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,el-farolito-san-francisco-2,0,El Farolito,4.0,4283,mexican|seafood|sandwiches,1,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,mission-pie-san-francisco,0,Mission Pie,4.0,1603,bakeries|cafes,1,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,old-jerusalem-restaurant-san-francisco,0,Old Jerusalem Restaurant,4.0,912,mideastern|mediterranean|arabian,2,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,philz-coffee-san-francisco,0,Philz Coffee,4.5,1584,coffee,1,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,beretta-san-francisco,0,Beretta,4.0,3191,italian|bars|pizza,2,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,papalote-mexican-grill-san-francisco,0,Papalote Mexican Grill,3.5,2109,mexican,2,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,prubechu-san-francisco,0,Prubechu,4.5,286,guamanian,3,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,coffeeshop-san-francisco,0,CoffeeShop,5.0,305,coffee,2,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,mr-pollo-san-francisco,0,Mr Pollo,4.0,519,newamerican,2,37.749846,-122.418241,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
yelp_df.to_feather('../ref_data/yelp_df_to_join_to_tt.feather')
#yelp_df.read_feather('../ref_data/yelp_df_to_join_to_tt.feather')

In [6]:
max_ydf = yelp_df.groupby(['loc_id','stars'])[['review_ct']].max().reset_index()
max_ydf = max_ydf.pivot(index='loc_id', columns='stars', values='review_ct').reset_index()
max_ydf.fillna(0, inplace=True)
prefix = 'max_rev_star_lvl'
max_ydf.columns = ['loc_id'] +  [prefix + str(i/2.) for i in range(2,11)]

mean_ydf = yelp_df.groupby(['loc_id','stars'])[['review_ct']].mean().reset_index()
mean_ydf = mean_ydf.pivot(index='loc_id', columns='stars', values='review_ct').reset_index()
mean_ydf.fillna(0, inplace=True)
prefix = 'mean_rev_star_lvl'
mean_ydf.columns = ['loc_id'] +  [prefix + str(i/2.) for i in range(2,11)]

ct_ydf = yelp_df.groupby(['loc_id','stars'])[['review_ct']].count().reset_index()
ct_ydf = ct_ydf.pivot(index='loc_id', columns='stars', values='review_ct').reset_index()
ct_ydf.fillna(0, inplace=True)
prefix = 'biz_ct_star_lvl'
ct_ydf.columns = ['loc_id'] + [prefix + str(i/2.) for i in range(2,11)]

breaks = [10,100,250,500,1000,2000]
labels = ['less_10','10-100','100-250','250-500','500-1000','1000-2000','2000+']
yelp_df['review_cat'] = np.digitize(yelp_df['review_ct'],breaks)
yelp_df['review_cat'] = yelp_df['review_cat'].map(lambda x : labels[x]) 

rev_cat_df = yelp_df.groupby(['loc_id','review_cat'])['review_ct'].count().reset_index()
rev_cat_df = rev_cat_df.pivot(index='loc_id', columns='review_cat', values='review_ct').reset_index()
rev_cat_df

review_cat,loc_id,10-100,100-250,1000-2000,2000+,250-500,500-1000,less_10
0,0.0,47,35,6,4,32,16,33
1,1.0,49,29,9,7,36,16,42
2,2.0,49,34,9,7,39,19,45
3,3.0,51,37,10,7,37,18,48
4,4.0,54,38,10,7,36,19,49
5,5.0,11,16,4,1,5,4,17
6,6.0,73,37,3,3,21,12,117
7,7.0,71,34,7,3,30,18,132
8,8.0,87,38,7,5,31,19,132
9,9.0,85,31,3,2,25,14,53
10,10.0,101,48,3,4,23,16,135
11,11.0,100,48,6,5,30,23,132
12,12.0,104,50,3,3,24,15,139
13,13.0,119,55,4,3,24,17,145
14,14.0,89,41,12,3,30,23,50
15,15.0,124,59,5,4,29,20,148
16,16.0,93,43,7,5,32,27,130
17,17.0,93,45,7,5,31,27,88
18,18.0,105,64,9,4,36,23,84
19,19.0,80,44,7,6,33,28,62
20,20.0,91,65,9,5,37,29,68
21,21.0,74,43,5,5,36,30,58
22,22.0,96,62,12,5,46,30,89
23,23.0,96,75,17,6,51,34,86
24,24.0,79,55,6,4,40,27,67
25,25.0,122,78,29,8,54,36,84
26,26.0,92,79,17,5,52,34,81
27,27.0,77,55,6,4,43,29,65
28,28.0,112,82,26,5,56,35,79
29,29.0,61,48,6,4,35,25,44
...,...,...,...,...,...,...,...,...
63,63.0,171,112,31,6,108,47,139
64,64.0,171,110,32,6,103,44,149
65,65.0,169,105,34,6,106,46,139
66,66.0,169,122,29,9,113,52,141
67,67.0,176,117,25,5,93,47,115
68,68.0,30,50,8,3,41,26,22
69,69.0,166,117,22,5,79,44,110
70,70.0,30,55,9,3,42,32,26
71,71.0,26,47,9,3,38,32,19
72,72.0,27,53,9,3,38,34,23
73,73.0,128,83,30,6,103,60,98
74,74.0,163,107,23,5,77,38,106
75,75.0,23,52,10,3,36,33,22
76,76.0,22,42,10,3,31,31,18
77,77.0,162,109,25,7,113,51,120
78,78.0,153,103,26,7,111,53,114
79,79.0,24,33,8,3,28,23,15
80,80.0,109,73,27,8,101,60,80
81,81.0,149,96,23,7,109,46,108
82,82.0,140,84,17,4,67,32,89
83,83.0,139,90,23,7,102,50,103
84,84.0,126,80,21,10,94,56,86
85,85.0,120,81,18,8,88,48,85
86,86.0,115,73,19,10,87,53,73
87,87.0,22,32,7,2,20,23,13
88,88.0,106,72,19,8,78,43,80
89,89.0,22,30,7,2,18,22,13
90,90.0,104,68,18,10,81,51,69
91,91.0,104,67,18,9,77,42,77
92,92.0,73,51,15,7,69,44,48

In [7]:
yelp_cats_df = yelp_df.groupby('loc_id')[yelp_cats].sum().reset_index()
yelp_cats_df.columns = ['loc_id']+['ycat_'+ col for col in yelp_cats_df.columns if col not in ['loc_id']] 
yelp_cats_df.head()

,loc_id,ycat_acaibowls,ycat_accessories,ycat_active,ycat_adultedu,ycat_afghani,ycat_african,ycat_amateursportsteams,ycat_animalshelters,ycat_arabian,...,ycat_venezuelan,ycat_venues,ycat_vietnamese,ycat_vinyl_records,ycat_waffles,ycat_whiskeybars,ycat_wine_bars,ycat_wineries,ycat_wraps,ycat_yelpevents
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
1,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,2.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0
2,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,2.0,1.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
3,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0
4,4.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,1.0,2.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0

In [8]:
master_yelp_summary = pd.DataFrame(mid2gps)
master_yelp_summary['loc_id'] = master_yelp_summary['id']
master_yelp_summary = master_yelp_summary.merge(max_ydf, how='left', on='loc_id')\
    .merge(mean_ydf, how='left', on='loc_id')\
    .merge(ct_ydf, how='left', on='loc_id')\
    .merge(yelp_cats_df, how='left', on='loc_id')\
    .merge(rev_cat_df, how='left', on='loc_id')

In [9]:
master_yelp_summary.head(10)

,lat_mid,lng_mid,id,loc_id,max_rev_star_lvl1.0,max_rev_star_lvl1.5,max_rev_star_lvl2.0,max_rev_star_lvl2.5,max_rev_star_lvl3.0,max_rev_star_lvl3.5,...,ycat_wineries,ycat_wraps,ycat_yelpevents,10-100,100-250,1000-2000,2000+,250-500,500-1000,less_10
0,37.749846,-122.418241,0,0,0.0,28.0,19.0,24.0,167.0,2109.0,...,0.0,0.0,0.0,47,35,6,4,32,16,33
1,37.753743,-122.420282,1,1,0.0,0.0,19.0,24.0,167.0,2109.0,...,0.0,0.0,0.0,49,29,9,7,36,16,42
2,37.753812,-122.419174,2,2,0.0,0.0,19.0,24.0,167.0,2109.0,...,0.0,0.0,0.0,49,34,9,7,39,19,45
3,37.753879,-122.418074,3,3,0.0,0.0,19.0,24.0,167.0,2109.0,...,0.0,0.0,0.0,51,37,10,7,37,18,48
4,37.753944,-122.416985,4,4,0.0,0.0,19.0,24.0,167.0,2109.0,...,0.0,0.0,0.0,54,38,10,7,36,19,49
5,37.763680,-122.410326,5,5,1.0,0.0,72.0,124.0,343.0,2069.0,...,0.0,0.0,0.0,11,16,4,1,5,4,17
6,37.773700,-122.417929,6,6,1.0,92.0,104.0,751.0,361.0,2554.0,...,1.0,0.0,0.0,73,37,3,3,21,12,117
7,37.775901,-122.419499,7,7,1.0,92.0,104.0,71.0,723.0,1099.0,...,0.0,0.0,0.0,71,34,7,3,30,18,132
8,37.777780,-122.419805,8,8,1.0,0.0,157.0,71.0,723.0,1099.0,...,0.0,0.0,0.0,87,38,7,5,31,19,132
9,37.778092,-122.412376,9,9,2.0,92.0,68.0,352.0,512.0,3304.0,...,1.0,0.0,0.0,85,31,3,2,25,14,53

In [10]:
master_yelp_summary.to_feather('../ref_data/yelp_summary_stats_df_by_location.feather')